.main-container {
    text-align: initial;
    margin: 0 auto;
    width: 100%;
    flex: 1 0 auto;
    background-color: rgba(128, 128, 128, 0.05);
}
.sub-container {
    height: 100%;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

ul.tabs li {
    background: var(--mgray);
    color: #222;
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 5px 15px;
    cursor: pointer;
    line-height: 27px;
    border-right: 1px solid var(--mgray);
    border-top: 1px solid var(--mgray);
    font-size: 14px;
}

.sub-container ul.tabs li {
    border-left: 1px solid var(--mgray);
}

ul.tabs li.current {
    background: #ffffff;
    color: #222;
}

ul.tabs li span.dis-none {
    display: none;
}

.tab-content {
    display: none;
    background: #ffffff;
    padding: 15px;
    width: 100%;
    height: calc(100% - 41px);
    overflow: auto;
    border-top: 1px solid var(--mgray);
}

.main-container>.tab-content>div{
    width: 1666px;
    height: 731px;
}

.sub-container .tab-content {
    border: 1px solid var(--mgray);
    height: -webkit-calc(100% - 38px);
}

.tab-content.current {
    display: inherit;
}

.close {
    height: 27px;
    display: inline-block;
}

.close:after {
    content: "\00d7";
    font-size: 15pt;
    position: relative;
    top: -2px;
}