
/* 검색창 디브영역 확인 */
.admLvngSearch{
    width: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: var(--admin);
    padding: 10px 20px;
    margin-bottom: 20px;
}
.admLvngSearch>table {
    width: 100%;
}
.admLvngSearch {
    display: inline-flex;
    flex-direction: row ;
    flex-flow: wrap;
}
.admLvngSearch td:nth-child(5)>input {
    width: 100px;
}