.userNotice>p {
    padding: 10px 0;
    font-size: 17px;
    border-bottom: 1px solid var(--lgray);
}

.userNotice>p>span {
    color: var(--blue);
    font-weight: bold;
}

.userNotice>div>div {

    font-size: 20px;
    display: grid;
    grid-template-columns: 8% 70% 14% 8%;
}

.userNotice>div>div>div {
    padding: 10px;
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid var(--lgray);
}

.userNotice>div>div>div a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.userNotice>div>div>div>span {
    margin-right: 5px;
    padding: 0 7px;
    color: var(--blue);
    background-color: var(--admin);
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
}

.userNotice>div>div>div:not(:nth-child(2)) {
    justify-content: center;
}

.userNoticePage {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.userNoticePage>div:nth-child(1),
.userNoticePage>div:nth-child(2)>div,
.userNoticePage>div:nth-child(3) {
    width: 40px;
    height: 40px;
    border: 1px solid var(--lgray);
    border-radius: 20px;
}

.userNoticePage>div:nth-child(1).hide,
.userNoticePage>div:nth-child(3).hide {
    border: 0px;
}

.userNoticePage>div:nth-child(1):hover:not(.hide),
.userNoticePage>div:nth-child(3):hover:not(.hide) {
    border: 1px solid black;
    cursor: pointer;
}

.userNoticePage>div:nth-child(1):not(.hide) {
    background: url('../../assets/images/blist_prev.png') no-repeat center center;
    /* transform: rotate(180deg); */
}

.userNoticePage>div:nth-child(3):not(.hide) {
    background: url('../../assets/images/blist_prev.png') no-repeat center center;
    transform: rotate(180deg);
}

.userNoticePage>div:nth-child(2) {
    display: flex;
    gap: 5px;
}

.userNoticePage>div:nth-child(2)>div {
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userNoticePage>div:nth-child(2)>.selectPage {
    background-color: var(--spring);
    border: 0px;
    color: white;
}

.userNoticePage>div:nth-child(2)>div:not(.selectPage):hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.userNoticeDetail>div:nth-child(1)>div {
    font-family: "home";
    text-align: center;
}

.userNoticeDetail>div:nth-child(1)>div:nth-child(1) {
    padding: 50px;
    font-size: 50px;
    border-bottom: 1px solid var(--lgray);
}

.userNoticeDetail>div:nth-child(1)>div:nth-child(2),
.userNoticeDetail>div:nth-child(1)>div:nth-child(2)>div,
.userNoticeDetail>div:nth-child(3)>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userNoticeDetail>div:nth-child(1)>div:nth-child(2) {
    padding: 20px;
    font-size: 25px;
    gap: 30px;
}

.userNoticeDetail>div:nth-child(2) {
    margin-top: 30px;
    padding: 20px;
    /* background-color: rgb(237, 237, 237);
    border-top: 1px solid var(--lgray);
    border-bottom: 1px solid var(--lgray); */
}

.userNoticeDetail>div:nth-child(3) {
    display: flex;
    border-top: 1px solid var(--lgray);
    border-bottom: 1px solid var(--lgray);
    padding: 20px;
    background-color: rgb(237, 237, 237)
}

.userNoticeDetail>div:nth-child(3)>div:nth-child(2) {
    margin-left: 30px;
}

.userNoticeFile>div {
    height: 30px;
    display: flex;
    gap: 10px;
}

.userNoticeFile>div>button {
    font-size: 12px;
    height: 22px;
}