.mealBox div {
    border-bottom : 1.5px solid var(--admin);
    /* border-right : 0px solid var(--admin);  */
    border-left : 1.5px solid var(--admin);
}
.meal_mng>div:nth-child(1){
    display: flex;
    gap: 10px;
}

.meal_mng_list>div {
    text-align: center;
    font-weight: bold;
}

.meal_mng_list .colorRed {
    color: red;
}

.meal_mng_list .colorBlue {
    color: blue;
}
