@font-face {
    font-family: 'claytoy';
    /*font 이름*/
    font-style: 'normal';
    /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400;
    /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('../../public/webfont/claytoy\ L.ttf');
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../../public/webfont/NanumBarunGothic.ttf');
}

ul,ol,li,dl {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

