.prg_dtlprg_grid {
    margin-bottom: 20px;
    text-align: center;
    height: 23.5%;
    border: 1px solid var(--lgray);
    border-top: 2px solid var(--lgray);
}

.prg_dtlprg_gridBox,
.prg_dtlprg_gridBox2,
.prg_dtlprg_gridBox3 {
    font-size: 14px;
    display: grid;
}

.prg_dtlprg_gridBox {
    grid-template-columns: 4% 48% 48%;
    overflow-y: auto;
    height: 100%;
    position: relative;
    
}

.prg_dtlprg_gridBox>div:nth-child(3n+5) {
    cursor: pointer;
}
.prg_dtlprg_gridBox>div:nth-child(3n+5):hover {
    background-color: var(--mgray);
}


.prg_dtlprg_gridBox2,
.prg_dtlprg_gridBox3 {
    margin-bottom: 10px;
    border-top: 2px solid var(--lgray);
    border-bottom: 2px solid var(--lgray);
}

.prg_dtlprg_gridBox2 span,
.prg_dtlprg_gridBox3 span {
    color: red;
}

/* prg_dtlprg_gridBox */
.prg_dtlprg_gridBox>div {
    /* height: calc(100% / 7); */
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid var(--lgray);
}

.prg_dtlprg_gridBox>div:nth-child(-n+3) {
    background-color: var(--admin);
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
}

.prg_dtlprg_gridBox>div:nth-child(3n-1) {
    border-left: 1px solid var(--lgray);
    border-right: 1px solid var(--lgray);
}

/* prg_dtlprg_gridBox2,3 */
.prg_dtlprg_gridBox2 {
    grid-template-columns: 13% 23% 9% 23% 9% 23%;
}

.prg_dtlprg_gridBox3 {
    grid-template-columns: 13% 87%;
}

.prg_dtlprg_gridBox2>div {
    height: 30px;
    line-height: 30px;
}

.prg_dtlprg_gridBox2>div,
.prg_dtlprg_gridBox3>div {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
}

/* prg_dtlprg_gridBox2 div */
.prg_dtlprg_gridBox2>div:nth-child(n) {
    border-left: 1px solid var(--lgray);
}

.prg_dtlprg_gridBox2>div:nth-child(6n + 1) {
    border-left: 0px solid var(--lgray);
}

.prg_dtlprg_gridBox2>div:nth-child(2n + 1),
.prg_dtlprg_gridBox3>div:nth-child(2n + 1) {
    justify-content: end;
    background-color: var(--admin);
    font-weight: bold;
}

.prg_dtlprg_gridBox2>div:nth-child(-n+6) {
    border-bottom: 1px solid var(--lgray);
}

.prg_dtlprg_gridBox2>div:nth-child(8) {
    grid-column: span 5;
}

.prg_dtlprg_gridBox2>div>input {
    width: 100%;
}

/* prg_dtlprg_gridBox3 div */
.prg_dtlprg_gridBox3>div:nth-child(2n) {
    border-left: 1px solid var(--lgray);
}

.prg_dtlprg_gridBox3>div:nth-child(-n+4) {
    border-bottom: 1px solid var(--lgray);
}

.prg_dtlprg_gridBox3>div:nth-child(1),
.prg_dtlprg_gridBox3>div:nth-child(2) {
    height: 30px;
    line-height: 30px;
}

.prg_dtlprg_gridBox3>div:nth-child(3),
.prg_dtlprg_gridBox3>div:nth-child(4) {
    height: 105px;
    line-height: 105px;
}

.prg_dtlprg_gridBox3>div:nth-child(5),
.prg_dtlprg_gridBox3>div:nth-child(6) {
    height: 180px;
    /* line-height: 120px; */
}

.prg_dtlprg_gridBox3>div:nth-child(6) {
    padding: 5px;
}

.prg_dtlprg_gridBox3>div>input {
    width: 100%;
}

.buttonBox,
.buttonBox>div {
    display: flex;
}

.buttonBox>div {
    gap: 5px;
    margin-left: auto;
}

.notPrgDetail {
    grid-column: span 3;
    cursor: default;
}

