
.loginBox {
    display: flex;
}
/* 왼쪽 사진 */
.leftBackground {
    width: 100%;

}
/* 로그인 탭 */
.logLeftBox {
    position: relative;
}

.logLeftBox>div:nth-child(2) {
    position: absolute;
    right: 0%;
    top: 40%;
    font-size: 30px;
    z-index: 2;
    text-align: end;
}
.logLeftBox>div:nth-child(2)>div {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    
}
/* 로그인 로고 */
.logRightBox {
    margin: auto;
}

.logLogo,
.logRightBox>form {
    text-align: center;
}
/* id, pw 크기 조정 */
.idpwbox>div {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.idpwbox img{
    height: 30px;
    margin-right: 10px;
}
.loginTable>div:first-child input {
    height: 30px;
    width: 400px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

/* 네비 바 호버 */
.hovering {
    border-radius: 10px 0px 0px 10px;
    
    &:hover {
        background: white;
        transition: 1.2s;
        /* color: var(--lgray); */
      }
}

/* 버튼 크기 조절 */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    border: none;
    outline: none;
    font-size: 15px;
}
.custom-btn:hover{
  border: 1.5px solid #76aef1 ;
  background: transparent;
  color: #76aef1;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
}
.loginTable>div {
    margin: 30px;
}
