@charset "utf-8";

/* 달력(셀클릭) 2023/03 */
.timetable1 {
	margin: 1em auto 1.666em;
}

.timetable1 .month {
	position: relative;
	width: 4em;
	margin: 0 auto .333em;
	padding: 0 1.333em;
	font-size: 2.571em;
	line-height: 1.333;
	text-align: center;
}

.timetable1 .month .h1 {
	margin: 0;
	padding: 0;
	background: transparent;
}

.timetable1 .month .em1 {
	color: rgb(17, 0, 170);
}

.timetable1 .month a.b1 {
	float: left;
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 0;
	border-radius: 50%;
	background: #eaecee;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
	/* [IE7] */
}

.timetable1 .month a.prev {
	left: 0;
}

.timetable1 .month a.next {
	right: 0;
}

.timetable1 .month a.b1>.ic1 {
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url() no-repeat center center;
	background-size: contain;
	opacity: .5;
}

.timetable1 .month a.prev>.ic1 {
	background-image: url(../../img/lib/ic60a1left2.png);
}

.timetable1 .month a.next>.ic1 {
	background-image: url(../../img/lib/ic60a1right2.png);
}

.timetable1 .month .today {
	position: absolute;
	left: 100%;
	top: 50%;
	margin: -15px 0 0 10px;
	font-size: 12px;
}

.timetable1 .help {
	clear: both;
	margin: 1em auto;
	color: #666;
	font-size: .929em;
}

.timetable1 .help .ic1 {
	float: left;
	width: 0;
	height: 0;
	margin: 3px 3px 0 0;
	border: 6px solid transparent;
	border-right-color: #09a;
	border-bottom-color: #09a;
	overflow: hidden;
	text-indent: 100%;
}

.timetable1 table {
	table-layout: fixed;
	width: 100%;
	margin: auto;
	border: 0;
	border-collapse: collapse;
	border-left: 1px solid #e3e6e9;
	line-height: 1.333;
}

.timetable1 table th,
.timetable1 table td {
	width: 14.285%;
	height: 14.285%;
	padding: 0;
	border: 1px solid #e3e6e9;
	vertical-align: top;
}

.timetable1 table tr.day th {
	padding: .4em .3em;
	border-color: #89a;
	border-width: 0 1px 1px 0;
	background: #678;
	color: #fff !important;
	font-weight: bold;
	text-align: center;
}

.timetable1 table tr.day th:first-child {
	border-width: 0 1px 1px 1px;
}

.timetable1 table td div.cell {
	position: relative;
	height: 7em;
	margin: -1px;
	border: 2px solid transparent;
}

/* 날짜와 앵커 기준 위치 */
.timetable1 table td .date {
	z-index: 10;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: .2em;
	color: #678;
	font-size: 1.071em;
}

.timetable1 table td .date>.deco1 {}

.timetable1 table td a.a1 {
	display: block;
	z-index: 20;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-height: 0;
	margin: -2px;
	padding: 1.666em .2em .2em .2em;
	border: 2px solid transparent;
	background: url(../../img/lib/b.png);
	/* [~IE10]fix) */
	overflow: hidden;
	transition: .2s ease-out;
	
}

.timetable1 table td a.a1 .a1t1 {
	display: block;
	color: #0f0f0f;
	font-size: .930em;
	font-weight: 1000;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-decoration: none;
}

.timetable1 table td a.a1 .a1t1:first-child {}

.timetable1 table td .ic1 {
	float: left;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-right-color: #09a;
	border-bottom-color: #09a;
	margin: -2px;
	overflow: hidden;
	text-indent: 100%;
}

.timetable1 table .sun,
.timetable1 table .sun a,
.timetable1 table .sun b {
	color: #e00;
}

.timetable1 table .sat,
.timetable1 table .sat a,
.timetable1 table .sat b {
	color: #66e;
}

.timetable1 table .today {}

.timetable1 table div.cell a.a1:hover,
.timetable1 table div.cell a.a1:focus {
	border: 2px solid #09a;
	text-decoration: none;
}

.timetable1 table .on div.cell a.a1 {
	border: 2px solid #357;
}


/* 목록(열3.날짜2표찰1글2버튼토글1).내용.아코디언 20161128. 20170712. */
.schedule1 {
	margin: 1em auto 1.666em;
	overflow: hidden;
}

.schedule1 .h1 {
	display: block;
	padding: .666em;
	border: 1px solid #e5e7e9;
	border-top: 1px solid #d5d8db;
	background: #f7f8f9;
	font-weight: 600;
	font-size: 1.429em;
	line-height: 1.333;
	text-align: center;
}

.schedule1 .schedule1list1 {
	margin: 0 0 1.5em 0;
	overflow: hidden;
}

.schedule1list1 .lst1 {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.schedule1list1 .li1 {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e7e7e7;
}

.schedule1list1 .li1 a.a1 {
	display: block;
	position: relative;
	padding: 1em 0 1em 75px;
	text-decoration: none;
	overflow: hidden;
}

.schedule1list1 .li1 a.a1[href]:hover *,
.schedule1list1 .li1 a.a1[href]:focus * {
	border-color: #000;
	background-color: #fff;
	color: #000;
	transition: .2s ease-out;
}

.schedule1list1 .li1 .timegroup1 {
	float: left;
	width: 60px;
	margin: 0 0 0 -75px;
	line-height: 1.333;
	text-align: center;
}

.schedule1list1 .li1 .timegroup1t1 {
	color: #f50;
}

.schedule1list1 .li1 .timegroup1t2 {
	color: #3a0;
}

.schedule1list1 .li1 .timegroup1t3 {
	color: #56a;
}

.schedule1list1 .li1 .timegroup1 .time {
	display: block;
}

.schedule1list1 .li1 .timegroup1 .time .t1 {
	display: block;
	font-size: 36px;
}

.schedule1list1 .li1 .timegroup1 .time .t2 {
	display: block;
	margin: 0 0 4px 0;
	font-size: 14px;
	line-height: 18px;
}

.schedule1list1 .li1 .timegroup1 .group {
	display: block;
	border-radius: 2px;
	border: 1px solid #666;
	font-size: 12px;
	line-height: 20px;
}

.schedule1list1 .li1 .timegroup1t1 .group {
	border-color: #f70;
	background-color: #fff9f3;
}

.schedule1list1 .li1 .timegroup1t2 .group {
	border-color: #3a0;
	background-color: #efd;
}

.schedule1list1 .li1 .timegroup1t3 .group {
	border-color: #56a;
	background-color: #eef3ff;
}

.schedule1list1 .li1 .text {
	display: block;
	width: 100%;
	padding: .3em 0 0 0;
	line-height: 1.333;
	overflow: hidden;
}

.schedule1list1 .li1 .text .t1 {
	display: block;
	width: 100%;
	margin: 0 0 .5em;
	color: #333;
	font-size: 1.143em;
}

.schedule1list1 .li1 .text .wrap1t2 {
	display: block;
	width: 100%;
	color: #666;
	overflow: hidden;
}

.schedule1list1 .li1 .text .t2 {
	float: left;
	width: 100%;
	margin: .25em 0;
	padding: 0;
}

.schedule1list1 .li1 .ic1 {
	display: none;
	/* ☆ */
	float: left;
	position: absolute;
	right: 0;
	top: 50%;
	width: 38px;
	height: 38px;
	margin: -20px 0 0 0;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 30px;
	text-align: center;
}

.schedule1list1 .li1 .ic1>[class*='ic1sw'] {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 4px;
	background: url() no-repeat center center;
	background-size: contain;
	opacity: .2;
}

.schedule1list1 .li1 .ic1>.ic1sw0 {
	display: block;
	background-image: url(../../img/lib/ic60a1down2.png);
}

.schedule1list1 .li1 .ic1>.ic1sw1 {
	display: none;
	background-image: url(../../img/lib/ic60a1up2.png);
}

.schedule1list1 .li1 .ic1>.ic1sw0 {
	display: block;
}

.schedule1list1 .li1 .ic1>.ic1sw1 {
	display: none;
}

.schedule1list1 .li1 .on .ic1>.ic1sw0 {
	display: none;
}

.schedule1list1 .li1 .on .ic1>.ic1sw1 {
	display: block;
}

.schedule1list1 .li1 .ic1 img {
	left: 0;
}

/* [IE7]fix */
.schedule1list1 .schedule1list1c {
	padding: 0 4%;
	background: #f5f7f9;
	overflow: hidden;
}

.schedule1list1c .f1 {
	margin: 4% auto;
	text-align: center;
}

.schedule1list1c .f1 a {}

.schedule1list1c .f1 img {
	/* max-height:400px; */
}

.schedule1list1c .t1 {
	margin: 4% auto;
}


/* 달력.예약현황.(버튼클릭) 20160112 20160614 */
.reserve2calendar1 {
	position: relative;
	width: 100%;
	margin: 1em auto;
}

.reserve2calendar1 .month {
	position: relative;
	width: 4em;
	margin: 0 auto .333em;
	padding: 0 1.333em;
	font-size: 2.571em;
	line-height: 1.333;
	text-align: center;
}

.reserve2calendar1 .month .h1 {
	margin: 0;
	padding: 0;
	background: transparent;
}

.reserve2calendar1 .month .em1 {
	color: #07a;
}

.reserve2calendar1 .month a.b1 {
	float: left;
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 0;
	border-radius: 9999px;
	background: #79a;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
	/* [IE7] */
}

.reserve2calendar1 .month a.prev {
	left: 0;
}

.reserve2calendar1 .month a.next {
	right: 0;
}

.reserve2calendar1 .month a.b1>.ic1 {
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url() no-repeat center center;
	background-size: contain;
}

.reserve2calendar1 .month a.prev>.ic1 {
	background-image: url(../../img/lib/ic60a1left1.png);
}

.reserve2calendar1 .month a.next>.ic1 {
	background-image: url(../../img/lib/ic60a1right1.png);
}

.reserve2calendar1 .month .today {
	position: absolute;
	right: -4em;
	top: 50%;
	height: auto;
	margin: -1em 0 0 0;
	font-size: 13px;
}

.reserve2calendar1 table.calendar1table1 {
	clear: both;
	width: 100%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	line-height: normal;
}

.reserve2calendar1 table.calendar1table1>*>tr>th,
.reserve2calendar1 table.calendar1table1>*>tr>td {
	width: 14.286%;
	padding: 0;
	border: 1px solid #ccc;
	background: #f7f7f7;
	color: #666;
	vertical-align: top;
}

.reserve2calendar1 table.calendar1table1>*>tr.day>th {
	height: 1em;
	padding: .666em .4em;
	text-align: center;
}

.reserve2calendar1 table.calendar1table1 tbody>tr:first-child>td {
	border-top-color: #000;
}



.reserve2calendar1 table.calendar1table1>*>tr>td {
	background: #fff;
}

.reserve2calendar1 table.calendar1table1>*>tr>td>.cell {
	display: block;
	position: relative;
	min-height: 40px;
	padding: 0 .2em 1em;
	overflow: hidden;
}

.reserve2calendar1 table.calendar1table1>*>tr>td>.cell.on {
	background: #fffcee;
}

.reserve2calendar1 table.calendar1table1>*>tr>td>.cell .deco1 {
	float: left;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	margin: 0 -10px;
	border: 10px solid transparent;
	border-bottom-color: #e90;
}

.reserve2calendar1 table.calendar1table1>*>tr>td .date {
	float: left;
	margin: .333em;
	color: #000;
	font-size: 1em;
}

.reserve2calendar1 table.calendar1table1>*>tr>td .btns {
	float: left;
	width: 100%;
	text-align: center;
}

.reserve2calendar1 table.calendar1table1>*>tr>td .cont {
	display: none;
	/* ☆ */
	position: relative;
	clear: both;
	margin: -2px;
	padding: .5em 1em;
	border: 2px solid #e90;
	overflow: hidden;
}

.reserve2calendar1 table.calendar1table1>*>tr.target td {
	background: #fff;
}

.reserve2calendar1 table.calendar1table1>*>tr.target td .cont {
	display: block;
}


/* 달력.일정.(목록클릭) 20161128 */
.timetable1schedule1 {
	position: relative;
	width: 100%;
	margin: 1em auto;
}

.timetable1schedule1 .month {
	position: relative;
	width: 4em;
	margin: 0 auto .333em;
	padding: 0 1.333em;
	font-size: 2.571em;
	line-height: 1.333;
	text-align: center;
}

.timetable1schedule1 .month .h1 {
	margin: 0;
	padding: 0;
	background: transparent;
}

.timetable1schedule1 .month .em1 {
	color: #07a;
}

.timetable1schedule1 .month a.b1 {
	float: left;
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 0;
	border-radius: 50%;
	background: #79a;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
	/* [IE7] */
}

.timetable1schedule1 .month a.prev {
	left: 0;
}

.timetable1schedule1 .month a.next {
	right: 0;
}

.timetable1schedule1 .month a.b1>.ic1 {
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url() no-repeat center center;
	background-size: contain;
}

.timetable1schedule1 .month a.prev>.ic1 {
	background-image: url(../../img/lib/ic60a1left1.png);
}

.timetable1schedule1 .month a.next>.ic1 {
	background-image: url(../../img/lib/ic60a1right1.png);
}

.timetable1schedule1 .month .today {
	position: absolute;
	right: -4em;
	top: 50%;
	height: auto;
	margin: -1em 0 0 0;
	font-size: 13px;
}

/* 범례 */
.timetable1schedule1 .note1 {
	margin: 1.333em 0 -.333em;
	padding: .8em .666em;
	background: #f5f7f9;
	border: 1px solid #eaecee;
	border-width: 1px 0;
	overflow: hidden;
}

.timetable1schedule1 .menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.timetable1schedule1 .menu ul {
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.timetable1schedule1 .menu li {
	float: left;
	margin-right: .333em;
}

.timetable1schedule1 .menu li>a {
	display: block;
	height: 21px;
	padding: .166em .166em .166em 2.5em;
	color: #333;
	text-decoration: none;
}

.timetable1schedule1 .menu li>a>.ic1 {
	float: left;
	width: 2em;
	height: 18px;
	margin: 1px .166em 0 -2.5em;
	padding: 0 .166em;
	border-radius: 4px;
	background: #666;
	color: #fff;
	font-weight: normal;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
}

.timetable1schedule1 .menu li>a.st1>.ic1 {
	background: #a7c;
}

/* #86b */
.timetable1schedule1 .menu li>a.st2>.ic1 {
	background: #68d;
}

/* #37c */
.timetable1schedule1 .menu li>a.st3>.ic1 {
	background: #4a0;
}

/* #085 */
.timetable1schedule1 .menu li>a.st4>.ic1 {
	background: #09c;
}

/* #079 */
.timetable1schedule1 .menu li>a.st5>.ic1 {
	background: #e5a;
}

/* #d28 */
.timetable1schedule1 .menu li>a.st0>.ic1 {
	background: #959595;
}

/* #666 */
.timetable1schedule1 .menu li>a>.t1 {
	float: left;
	height: 18px;
	color: #666;
	font-size: 12px;
	line-height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}

.timetable1schedule1 table.calendar1table1 {
	table-layout: fixed;
	clear: both;
	width: 100%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	line-height: normal;
}

.timetable1schedule1 table.calendar1table1 th,
.timetable1schedule1 table.calendar1table1 td {
	width: 14.286%;
	padding: 0;
	border: 1px solid #ccc;
	/* border-width:1px 1px 0 0; */
	background: #f7f7f7;
	color: #666;
	vertical-align: top;
}

/* .timetable1schedule1 table.calendar1table1 td+td+td+td+td+td+td{border-right:0;} */
.timetable1schedule1 table.calendar1table1 tr.day>th {
	height: 1em;
	padding: .666em .4em;
	text-align: center;
}

.timetable1schedule1 table.calendar1table1 tbody>tr:first-child>td {
	border-top-color: #000;
}

.timetable1schedule1 table.calendar1table1 tr.day .sat,
.timetable1schedule1 table.calendar1table1 tr .sat .date {
	color: #00b;
}

.timetable1schedule1 table.calendar1table1 tr.day .sun,
.timetable1schedule1 table.calendar1table1 tr .sun .date,
.timetable1schedule1 table.calendar1table1 tr.day .hol,
.timetable1schedule1 table.calendar1table1 tr .hol .date {
	color: #e00;
}

.timetable1schedule1 table.calendar1table1 td {
	background: #fff;
}

.timetable1schedule1 table.calendar1table1 td>.cell {
	display: block;
	position: relative;
	min-height: 40px;
	padding: 0 .2em;
	overflow: hidden;
}

.timetable1schedule1 table.calendar1table1 td>.cell .deco1 {
	float: left;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	margin: 0 -5px;
	border: 6px solid transparent;
	border-bottom-color: #333;
}

.timetable1schedule1 table.calendar1table1 td .date {
	float: left;
	margin: .333em;
	color: #000;
	font-size: 1em;
}

.timetable1schedule1 table.calendar1table1 td .menu {
	display: block;
	/* ☆ */
	clear: both;
	margin: .5em 0;
	overflow: hidden;
}

.timetable1schedule1 table.calendar1table1 td .menu ul {}

.timetable1schedule1 table.calendar1table1 td .menu li {
	width: 100%;
	margin: 0;
}

.timetable1schedule1 table.calendar1table1 td .menu li>a>.t1 {
	width: 100%;
}

.timetable1schedule1 table.calendar1table1 td .menu li>a:hover>.t1,
.timetable1schedule1 table.calendar1table1 td .menu li>a:focus>.t1 {
	background: #fcfcfc;
	border-radius: 4px;
}

.timetable1schedule1 table.calendar1table1 td .menu li>a:hover>.ic1,
.timetable1schedule1 table.calendar1table1 td .menu li>a:focus>.ic1 {
	background: #000;
}


/* 달력.예약현황.(셀클릭) 20150910. 20161128. 20170818 */
.reserve1calendar1 {
	display: block;
	position: relative;
	margin: 0 auto 1.333em;
	padding: 20px 0 0;
}

.reserve1calendar1 .month {
	position: relative;
	width: 4em;
	margin: 0 auto 20px;
	padding: 0 1.333em;
	font-size: 2.571em;
	line-height: 1.333;
	text-align: center;
}

.reserve1calendar1 .month .h1 {
	margin: 0;
	padding: 0;
	background: transparent;
}

.reserve1calendar1 .month .em1 {
	color: #ec3235;
}

.reserve1calendar1 .month a.b1 {
	float: left;
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 0;
	border-radius: 50%;
	background: #79a;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
	/* [IE7] */
}

.reserve1calendar1 .month a.prev {
	left: 0;
}

.reserve1calendar1 .month a.next {
	right: 0;
}

.reserve1calendar1 .month a.b1>.ic1 {
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url() no-repeat center center;
	background-size: contain;
}

.reserve1calendar1 .month a.prev>.ic1 {
	background-image: url(../../img/lib/ic60a1left1.png);
}

.reserve1calendar1 .month a.next>.ic1 {
	background-image: url(../../img/lib/ic60a1right1.png);
}

.reserve1calendar1 .month .today {
	position: absolute;
	right: -4em;
	top: 50%;
	height: auto;
	margin: -1em 0 0 0;
	font-size: 13px;
}

.reserve1calendar1 table.calendar1table1 {
	clear: both;
	width: 100%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	border-top: 2px solid #000;
	line-height: normal;
}

.reserve1calendar1 table.calendar1table1 th,
.reserve1calendar1 table.calendar1table1 td {
	width: 14.286%;
	padding: 0;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	background: #f7f7f7;
	color: #666;
	vertical-align: top;
}

/* .reserve1calendar1 table.calendar1table1 td+td+td+td+td+td+td{border-right:0;} */
.reserve1calendar1 table.calendar1table1 tr.day>th {
	height: 1em;
	padding: .666em .4em;
	text-align: center;
}

.reserve1calendar1 table.calendar1table1 tbody>tr:first-child>td {
	border-top-color: #000;
}

.reserve1calendar1 table.calendar1table1 tr.day .sat,
.reserve1calendar1 table.calendar1table1 tr .sat .date {
	color: #00b;
}

.reserve1calendar1 table.calendar1table1 tr.day .sun,
.reserve1calendar1 table.calendar1table1 tr .sun .date,
.reserve1calendar1 table.calendar1table1 tr.day .hol,
.reserve1calendar1 table.calendar1table1 tr .hol .date {
	color: #e00;
}

.reserve1calendar1 table.calendar1table1 td {
	background: #fff;
}

.reserve1calendar1 table.calendar1table1 td>.cell {
	display: block;
	position: relative;
	min-height: 40px;
	padding: 0 .2em;
	overflow: hidden;
}

.reserve1calendar1 table.calendar1table1 td>.cell .deco1 {
	float: left;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	margin: 0 -5px;
	border: 6px solid transparent;
	border-bottom-color: #333;
}

.reserve1calendar1 table.calendar1table1 td .date {
	float: left;
	margin: .333em;
	color: #000;
	font-size: 1em;
}

.reserve1calendar1 table.calendar1table1 td .menu {
	display: none;
	/* ☆ */
	clear: both;
	margin: .5em 0;
	overflow: hidden;
}

.reserve1calendar1 table.calendar1table1 td .menu ul {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}

.reserve1calendar1 table.calendar1table1 td .menu li {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a {
	display: block;
	padding: .167em;
	color: #333;
	text-decoration: none;
	overflow: hidden;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a>.ic1 {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin: 0 .167em;
	padding-right: 1px;
	border-radius: 21px;
	background: #666;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a.st0>.ic1 {
	background: #380;
}

/* 휴관일 */
.reserve1calendar1 table.calendar1table1 td .menu li>a.st1>.ic1 {
	background: #ec3235;
}

/* 예약가능 */
.reserve1calendar1 table.calendar1table1 td .menu li>a.st2>.ic1 {
	background: #000;
}

/* 예약완료 */
.reserve1calendar1 table.calendar1table1 td .menu li>a.st3>.ic1 {
	background: #707784;
}

/* 준비중 */
.reserve1calendar1 table.calendar1table1 td .menu li>a>.t1 {
	display: inline;
	color: #666;
	font-size: 13px;
	line-height: 21px;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a>.t2 {
	display: block;
	font-size: 15px;
	line-height: 21px;
	text-align: right;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a:hover,
.reserve1calendar1 table.calendar1table1 td .menu li>a:focus {
	background: #f1f5f9;
	border-radius: 4px;
}

.reserve1calendar1 table.calendar1table1 td .menu li>a.on {
	background: #000;
	color: #fff;
	border-radius: 4px;
}

.reserve1calendar1 table.calendar1table1 tr.target td {
	background: #fff;
}

.reserve1calendar1 table.calendar1table1 tr.target td .menu {
	display: block;
}

.reserve1calendar1 .note1 {
	margin: 8px 0;
	overflow: hidden;
}

.reserve1calendar1 .note1 .menu {
	display: block;
	overflow: hidden;
}

.reserve1calendar1 .note1 .menu ul {
	float: right;
	overflow: hidden;
}

.reserve1calendar1 .note1 .menu li {
	float: left;
}

.reserve1calendar1 .note1 .menu li>a {
	display: block;
	padding: .167em;
	text-decoration: none !important;
	overflow: hidden;
}

.reserve1calendar1 .note1 .menu li>a>.ic1 {
	float: left;
	width: 20px;
	height: 21px;
	margin: 0 .167em;
	padding-right: 1px;
	border-radius: 21px;
	background: #666;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
}

.reserve1calendar1 .note1 .menu li>a.st0>.ic1 {
	background: #380;
}

.reserve1calendar1 .note1 .menu li>a.st1>.ic1 {
	background: #ec3235;
}

.reserve1calendar1 .note1 .menu li>a.st2>.ic1 {
	background: #000;
}

.reserve1calendar1 .note1 .menu li>a.st3>.ic1 {
	background: #707784;
}

.reserve1calendar1 .note1 .menu li>a>.t1 {
	float: left;
	height: 21px;
	line-height: 21px;
	text-decoration: none !important;
}



.poll1partin1 .h1 {
	padding: .666em 1em;
	border-radius: 3px;
	border: 1px solid #eef1f3;
	background: #f1f5f9;
	color: #234;
	font-size: 1.143em;
}

.poll1partin1 .dl1 {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #d3d6d9;
}

.poll1partin1 .dt1 {
	margin: 0;
	padding: 1em 0 0 0;
	border-top: 1px dotted #d3d6d9;
	overflow: hidden;
}

.poll1partin1 .dt1:first-child {
	border: 0;
}

.poll1partin1 .dt1 .deco1 {
	float: left;
	width: 36px;
	height: 36px;
	margin: 0 -42px 0 0;
	border-radius: 50%;
	background: #579;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

.poll1partin1 .dt1 .t1 {
	float: left;
	padding: .459em 0 0 42px;
	color: #333;
	font-size: 1.143em;
	line-height: 1.333;
}

.poll1partin1 .dd1 {
	margin: 0;
	padding: 1em;
}




.poll1result1 .h1 {
	padding: .666em 1em;
	border-radius: 3px;
	border: 1px solid #eef1f3;
	background: #f1f5f9;
	color: #234;
	font-size: 1.143em;
}

.poll1result1 .dl1 {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #d3d6d9;
}

.poll1result1 .dt1 {
	margin: 0;
	padding: 1em 0 0 0;
	border-top: 1px dotted #d3d6d9;
	overflow: hidden;
}

.poll1result1 .dt1:first-child {
	border: 0;
}

.poll1result1 .dt1 .deco1 {
	float: left;
	width: 36px;
	height: 36px;
	margin: 0 -42px 0 0;
	border-radius: 50%;
	background: #579;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

.poll1result1 .dt1 .t1 {
	float: left;
	padding: .459em 0 0 42px;
	color: #333;
	font-size: 1.143em;
	line-height: 1.333;
}

.poll1result1 .dd1 {
	margin: 0;
	padding: 1em;
}

.poll1result1 .graph1 {
	line-height: 1.333;
}

.poll1result1 .graph1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.poll1result1 .graph1 li {
	position: relative;
	min-height: 56px;
	margin: 5px 0;
	padding: 0 50px
		/* ☆ */
		0 0;
	overflow: hidden;
}

.poll1result1 .graph1 .graph1term1 {
	display: block;
	width: 100%;
	padding: .333em 0;
	background: #fff;
}

.poll1result1 .graph1 .graph1track1 {
	display: block;
	width: 100%;
	height: 28px;
	background: #fff url(../../img/lib/poll1s.png) repeat-x 0 -100px;
}

.poll1result1 .graph1 .graph1bar1 {
	float: left;
	width: 100%;
	height: 28px;
	background: #000;
}

.poll1result1 .graph1 .graph1data1 {
	float: left;
	position: absolute;
	right: 2px;
	bottom: 0;
	line-height: 28px;
	color: #666;
	font-size: .929em;
}

.poll1result1 .graph1 li:nth-child(1) .graph1bar1 {
	background: #7ad;
}

/* #37b */
.poll1result1 .graph1 li:nth-child(2) .graph1bar1 {
	background: #7ce;
}

/* #4a6 */
.poll1result1 .graph1 li:nth-child(3) .graph1bar1 {
	background: #7cc;
}

/* #e42 */
.poll1result1 .graph1 li:nth-child(4) .graph1bar1 {
	background: #9c9;
}

/* #c40 */
.poll1result1 .graph1 li:nth-child(5) .graph1bar1 {
	background: #ac5;
}

/* #e82 */
.poll1result1 .graph1 li:nth-child(6) .graph1bar1 {
	background: #cc0;
}

/* #4bd */
.poll1result1 .graph1 li:nth-child(7) .graph1bar1 {
	background: #eb6;
}

/* #85e */
.poll1result1 .graph1 li:nth-child(8) .graph1bar1 {
	background: #f96;
}

/* #c2c */
.poll1result1 .graph1 li:nth-child(9) .graph1bar1 {
	background: #f77;
}

/* #a60 */
.poll1result1 .graph1 li:nth-child(10) .graph1bar1 {
	background: #e7a;
}

/* #d06 */
.poll1result1 .graph1 li:nth-child(11) .graph1bar1 {
	background: #c8c;
}

/* #078 */
.poll1result1 .graph1 li:nth-child(12) .graph1bar1 {
	background: #99c;
}

/* #24c */


/* ◇◆ Added 20160414 ~ */


/* BMI차트 20160414 */
.chart1bmi1 {
	position: relative;
	margin: 1em 0 0;
	padding: 0 0 2em;
}

.chart1bmi1 .deco1 {
	float: left;
	position: absolute;
	left: 0;
	top: -9px;
	width: 0;
	height: 0;
	margin: 0 -12px;
	border: 12px solid transparent;
	border-top-color: #000;
	overflow: hidden;
	text-indent: 100%;
	transition: .4s ease-out;
}

.chart1bmi1 .deco1.init {
	opacity: 0;
}

/* ☆ */
.chart1bmi1 .area {
	overflow: hidden;
}

.chart1bmi1 .area>.a1 {
	float: left;
	width: 25%;
	background: #959595 url();
	color: #fff;
}

.chart1bmi1 .area>.a1.m1 {
	background: #09f url(../../img/lib1cp1/b.ffffff.opacity.20.pattern1.png);
}

.chart1bmi1 .area>.a1.m2 {
	background: #0a0 url(../../img/lib1cp1/b.ffffff.opacity.20.pattern2.png);
}

.chart1bmi1 .area>.a1.m3 {
	background: #b80 url(../../img/lib1cp1/b.ffffff.opacity.20.pattern3.png);
}

.chart1bmi1 .area>.a1.m4 {
	background: #f55 url(../../img/lib1cp1/b.ffffff.opacity.20.pattern4.png);
}

.chart1bmi1 .graduated>.a1 {
	position: absolute;
	float: left;
}

.chart1bmi1 .graduated>.a1.m1 {
	left: 0;
}

.chart1bmi1 .graduated>.a1.m2 {
	left: 25%;
}

.chart1bmi1 .graduated>.a1.m3 {
	left: 50%;
}

.chart1bmi1 .graduated>.a1.m4 {
	left: 75%;
}


/* 수학식 */
.equation1 .item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.333;
}

.equation1 .equal {
	margin: 0 1em;
}

.equation1 .item.divide>span {
	display: block;
	padding: 0 1em;
}

.equation1 .item.divide>span.operator {
	height: 1px;
	margin: 7px 0 2px;
	border-top: 1px solid #333;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}


/* 지도 등 묶음 20161128 */
.wrap1map1etc1 {
	position: relative;
	margin: 0 auto 1em;
}

.wrap1map1etc1 .column {}

/* 지도.일반 */
.map1 {
	z-index: 1;
	position: relative;
	height: 250px;
	background: #d1d7db;
	overflow: hidden;
}

.map1 img {
	max-width: none;
}

.map1 .map {}

/* 지도API */
.map1 .map1img1 {}

/* 지도이미지 */
.map1 .map1img1 img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -475px;
}

/* 맵마커 */
.map1marker1wifizone1 {
	z-index: 10;
	float: left;
	position: absolute;
	left: 50%;
	top: 50%;
	/* 맵마커 가리키는 곳 */
	width: 34px;
	height: 33px;
	margin: -33px 0 0 -13px;
	/* 가리키는 곳에서 이거 좌상단거리 */
}

/* 범례 */
.explanatory1 {
	padding: 10px 0;
}

.explanatory1 .item {
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: middle;
}

.explanatory1 .item>.ic1 {
	display: inline-block;
	vertical-align: middle;
}

.explanatory1 .item>.t1 {
	display: inline-block;
	margin: 0 0 0 -3px;
	vertical-align: middle;
}

/* 검색결과(와이파이존) */
.wifizone1result1 {
	z-index: 10;
	position: relative;
	width: auto;
	margin: 0 0 1px 0;
	line-height: 1.333;
}

.wifizone1result1 {
	background: #53575e;
}

.wifizone1result1>.h1 {
	display: block;
	position: relative;
	height: 20px;
	margin: 0;
	padding: 10px 1em;
	background: #28d;
	color: #fff;
	font-size: 14px;
	line-height: 1.333;
	text-decoration: none;
}

.wifizone1result1c {
	display: block;
	position: relative;
}

.wifizone1result1c>.wrap1 {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #fff;
}

.wifizone1result1c .item {
	display: block;
	position: relative;
	padding: 10px 10px 10px 50px;
	border-top: 1px solid #40444c;
	border-bottom: 1px solid #6f7379;
	overflow: hidden;
}

.wifizone1result1c .item>.ic1 {
	float: left;
	width: 40px;
	margin: 0 0 0 -50px;
	padding: 0 0 0 10px;
	text-align: center;
}

.wifizone1result1c .item>.t1 {
	float: left;
	width: 100%;
}

.wifizone1result1c .item>.t2 {
	float: left;
	width: 100%;
	margin: .333em 0 0 0;
	font-size: .857em;
	opacity: .8;
}


/* ◇◆ Added 20160610 ~ */

/* 범용차트 */
.chart3 {
	position: relative;
	min-width: 300px;
	border: 1px solid #dadde0;
	overflow: hidden;
}

.chart3>.h1 {
	display: block;
	position: relative;
	padding: .666em;
	border-bottom: 1px solid #dadde0;
	background: #e3e6e9;
	color: #234;
}

.chart3>.cont1 {
	position: relative;
	padding: 0 0 4em;
}

/* 막대그래프. 20160610 */
.graphdata1 {
	position: relative;
	width: 89%;
	margin: 3% 3% 0 8%;
	font-size: 12px;
}

.graphdata1 .scales {
	height: 1%
		/* ☆ */
	;
	margin: 0 0 0 -1px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	background: #fcfcfc;
}

.graphdata1 .scales .row {
	float: left;
	position: relative;
	width: 100%;
}

.graphdata1 .scales .row .yv {
	/* 눈금 */
	position: absolute;
	right: 100%;
	bottom: -6px
		/* ☆라인세로중앙 */
	;
	margin: 0 .5em 0 0;
	color: #666;
	line-height: 14px;
	text-align: right;
	white-space: nowrap;
}

.graphdata1 .scales .row>i {
	/* 한칸 */
	float: left;
	width: 10%
		/* ☆ */
	;
	height: 27px;
	/* ☆고정 */
	/* height:0;	padding-bottom:3.2%; */
	/* ☆반응 */
	border: 1px solid #ddd;
	border-width: 1px 1px 0 0;
	margin: -1px -1px 0 0;
}

.graphdata1 .data {
	z-index: 10;
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 100%;
}

.graphdata1 .data .dl {
	float: left;
	position: relative;
	width: 10%
		/* ☆ */
	;
	height: 100%;
	margin: 0;
	padding: 0;
}

.graphdata1 .data .dl.dl1 {}

/* ~ */
.graphdata1 .data .dl.dl10 {}

.graphdata1 .data .dt {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin: .666em 0 0;
	padding: 0;
	line-height: 1.166;
	text-align: center;
}

.graphdata1 .data .dd {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0%
		/* ☆ 값 없으면 높이0 */
	;
	margin: 0;
	padding: 0;
}

.graphdata1 .data .dd .dv {
	display: block;
	position: relative;
	top: -1.333em;
	width: 80%;
	margin: 0 auto;
	color: #666;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.333;
	text-align: center;
}

.graphdata1 .data .deco1 {
	float: left;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 12px;
	height: 15px;
	margin: -1px 0 0 -6px;
}

.graphdata1 .data .dd .dg {
	float: left;
	position: absolute;
	left: 33.333%;
	bottom: 0;
	width: 33.333%;
	height: 100%;
	background: #579;
	overflow: hidden;
	text-indent: -9999px;
}

/* 변형.막대색, 열(눈금,막대)폭% */
.chart3 .cont1 .graphdata1 .data .dd .dg {
	background: #579 url(../../img/lib1cp1/b.ffffff.opacity.50.pattern1.png);
}

.chart3.hour .graphdata1 .scales .row>i,
.chart3.hour .graphdata1 .data .dl {
	width: 4.166%;
}

/* 시간=1/24 */
.chart3.hour .graphdata1 .data .dd .dg {
	background-color: #37b;
}

.chart3.day .graphdata1 .scales .row>i,
.chart3.day .graphdata1 .data .dl {
	width: 14.285%;
}

/* 요일=1/7 */
.chart3.day .graphdata1 .data .dd .dg {
	background-color: #4a6;
}

.chart3.date .graphdata1 .scales .row>i,
.chart3.date .graphdata1 .data .dl {
	width: 3.225%;
}

/* 일=1/31 */
.chart3.date .graphdata1 .data .dd .dg {
	background-color: #e42;
}

.chart3.month .graphdata1 .scales .row>i,
.chart3.month .graphdata1 .data .dl {
	width: 8.333%;
}

/* 월=1/12 */
.chart3.month .graphdata1 .data .dd .dg {
	background-color: #0ba;
}

.chart3.last10dates .graphdata1 .scales .row>i,
.chart3.last10dates .graphdata1 .data .dl {
	width: 10%;
}

/* 10일=1/10 */
.chart3.last10dates .graphdata1 .data .dd .dg {
	background-color: #e82;
}

.chart3.last6months .graphdata1 .scales .row>i,
.chart3.last6months .graphdata1 .data .dl {
	width: 16.666%;
}


.ovulate1 .t1 {
	text-align: right;
}

.ovulate1 .t1 .e1 {
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 1px solid #075e9b;
	background: #06b url(../../img/lib/bg101.png);
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	vertical-align: middle;
}

.ovulate1 .t1 .t1t1 {}

.ovulate1 .t2 {
	color: #678;
	font-size: 1.786em;
	text-align: center;
}

.ovulate1 .t2 .t2b {
	color: #333;
}

/* 기간바 */
.period1 {
	position: relative;
	width: 100%;
	height: 0;
	margin: 6em 0;
	padding: 0 0 30px 0;
	border: 1px solid #ddd;
	background: #fff;
}

.period1 .p1 {
	position: absolute;
	top: 0;
	width: 4%;
	height: 100%;
	background: #eee;
}

.period1 .p1.p1t1 {
	left: 0;
}

.period1 .p1.p1t2 {
	left: 50%;
	width: 34%;
	margin: 0 0 0 -17%;
	background: #06b url(../../img/lib/bg101.png);
}

.period1 .p1.p1t3 {
	right: 0;
}

.period1 .p1.p1t1 .deco1,
.period1 .p1.p1t3 .deco1 {
	position: absolute;
	top: -30%;
	width: 1px;
	height: 160%;
	background: #080;
}

.period1 .p1.p1t1 .deco1 {
	right: 0;
}

.period1 .p1.p1t3 .deco1 {
	left: 0;
}

.period1 .p1t1t1 {
	float: left;
	position: absolute;
	top: 130%;
	margin: 1em 0 0 0;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
}

.period1 .p1.p1t1 .p1t1t1 {
	left: 0;
}

.period1 .p1.p1t3 .p1t1t1 {
	right: 0;
}

.period1 .p1 .deco2 {
	float: left;
	position: absolute;
	top: 130%;
	width: 0;
	height: 0;
	margin: -3px -6px 0;
	border: 6px solid transparent;
	border-bottom-color: #080;
}

.period1 .p1.p1t1 .deco2 {
	right: 0;
}

.period1 .p1.p1t3 .deco2 {
	left: 0;
}

.period1 .sb1 {
	position: absolute;
	left: 50%;
	bottom: 80%;
	width: 12em;
	height: 4em;
	margin: 0 0 0 -6em;
	padding: 0;
	border-radius: 6px;
	border: 1px solid #abc;
	background: #fafcfe;
}

.period1 .sb1 .sb1t1 {
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #678;
	font-size: 1.143em;
	line-height: 1.5;
	text-align: center;
}

.period1 .sb1 .sb1t2 {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	color: #006dba;
	font-size: 1.143em;
	line-height: 1.5;
	text-align: center;
}

.period1 .sb1 .deco1 {
	float: left;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 0;
	height: 0;
	margin: 0 0 0 -8px;
	border: 6px solid transparent;
	border-width: 14px 8px;
	border-top-color: #abc;
}

.period1 .sb1 .deco1>i {
	float: left;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 0;
	height: 0;
	margin: -16px 0 0 -8px;
	border: 6px solid transparent;
	border-width: 14px 8px;
	border-top-color: #fff;
}


/* YYYYMMDD.Writer. ◇◆ */


/* RWD ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */
/* small~xlarge */
@media all and (min-width:480px) {

	/* 480 ◇◆◇◆◇◆◇◆◇◆ */
	.gallery1ebook1 .ebook1btns .b1 {
		float: left;
		width: 48%;
	}

	.gallery1ebook1 .ebook1btns .b1+.b1 {
		float: right;
	}

	.card1job1 .evenmix-1234 .column {
		width: 50%
	}

	.card1job1 .wrap1 .t4 {
		height: 54px
	}

}

/* /(min-width:480px) */
@media all and (min-width:600px) {
	.card1job1 .evenmix-1234 .column {
		width: 33.33%
	}

	.card1job1 .wrap1 .t4 {
		padding-left: 2.2em;
		font-size: 15px;
	}

	.card1job1 .wrap1 .t4:before {
		position: absolute;
		top: .8em;
		left: 0;
		content: "";
		display: block;
		width: 29px;
		height: 29px;
		background: url(../../img/sub/card1job1_icofb.gif) no-repeat
	}

	.card1job1 .wrap1 .t3 {
		padding-left: 2.2em;
		margin-top: 20px;
		font-size: 13px;
	}

	.card1job1 .wrap1 .t3:before {
		position: absolute;
		top: 0;
		left: 7px;
		content: "";
		display: block;
		width: 17px;
		height: 17px;
		background: url(../../img/sub/card1job1_icotime.gif) no-repeat
	}
}

@media all and (min-width:768px) {

	/* medium ◇◆◇◆◇◆◇◆◇◆ */
	.search1select0btn2 .text1 {
		width: 49%;
	}

	.search1select0btn2 .button {
		width: 24%;
	}

	.list1f1t2b2 .li1 .col {
		float: left;
	}

	.list1f1t2b2 .li1 .a1 {
		width: 80%;
	}

	.list1f1t2b2 .li1 .btns {
		width: 19%;
		padding: .666em 0;
	}

	.list1f1t2b2 .li1 .figs {
		width: 20%;
		margin: 0 3% 0 0;
	}

	.list1f1t2b2 .li1 .texts {
		width: 77%;
	}

	.comment1write1 .help1popover1 .b1.toggle {
		margin-right: 110px;
	}

	.comment1write1 .help1popover1 .help1popover1c {
		right: 50%;
		margin-right: -102px;
	}

	.comment1write1 .help1popover1 .help1popover1c .deco {
		right: 50%;
		margin-right: -7px;
	}

	.comment1write1 .comment1form1 {
		padding-right: 100px;
	}

	.comment1form1 .textarea {
		float: left;
		height: 70px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.comment1form1 .submit {
		float: right;
		width: 90px;
		height: 70px;
		margin: 0 -100px 0 0;
		line-height: normal;
	}

	.pic1gallery2 .figure {
		padding-bottom: 0;
	}

	.view1pic1info1 .texts {
		float: right;
		width: 50%;
	}

	.view1pic1info1 .pic1gallery1 {
		float: left;
		width: 45%;
	}

	.password1 {
		width: 600px;
	}

	.password1 .bg {
		width: 240px;
		height: 240px;
	}

	.password1 .h1 {
		font-size: 1.857em;
	}

	.password1 .wrap1 {
		width: auto;
		margin: 0;
	}

	.password1 .btns {
		clear: none;
		text-align: left;
	}

	/* % (( Check Screen Value */
	.login2choice1 .box1.c1 {
		float: left;
		width: 33%;
	}

	.login2choice1 .box1.c2 {
		float: right;
		width: 63%;
	}

	.login2choice1 .box1 .text1 {
		min-height: 9em;
		/* [IE7] */
	}

	.login2choice1 .preface1 {
		text-align: center;
	}

	.login2choice1 .preface1 .t1 {
		font-size: 2em;
	}

	.login2choice1 .preface1 .t2 {
		font-size: 1.143em;
	}

	.reserve1calendar1 table.calendar1table1 td .menu {
		display: block;
	}

	.schedule1list1 .li1 a.a1 {
		padding-right: 60px;
	}

	.schedule1list1 .li1 .text .wrap1t2 {
		margin-left: -.666em;
	}

	.schedule1list1 .li1 .text .t2 {
		width: auto;
		padding: 0 .666em;
		background: url(../../img/lib/sep1s.png) no-repeat 0 .273em;
	}

	.schedule1list1 .li1 .ic1 {
		display: block;
	}

	.poll1result1 .graph1 li {
		min-height: 28px;
		padding-left: 33.333%
			/* ☆ */
		;
	}

	.poll1result1 .graph1 .graph1term1 {
		float: left;
		position: relative;
		left: -25px
			/* =50*(33.333/66.666) */
		;
		width: 50%;
		margin-left: -50%;
	}

	.poll1result1 .graph1 .graph1data1 {
		bottom: auto;
		top: 0;
	}

	.wrap1map1etc1 {
		position: relative;
		padding: 0 250px 0 0;
	}

	.wrap1map1etc1 .map1 {
		position: relative;
		height: 500px;
		margin-right: -250px;
	}

	/* 一단배치 */
	.wrap1map1etc1 .column {
		float: left;
		width: 100%;
		height: 100%;
	}

	.wrap1map1etc1 .column~.column {
		float: right;
		width: 250px;
		height: 100%;
		margin: 0 -250px 0 0;
	}

	.wrap1map1etc1 .column .map1 {
		margin-right: 0;
	}

	/* 多단배치 */

	.wifizone1result1c {
		height: 460px;
		overflow: hidden;
		overflow-y: scroll;
	}



}

/* /(min-width:768px) */
@media all and (min-width:1000px) {

	/* large ◇◆◇◆◇◆◇◆◇◆ */
	.tabs1 li a {
		border-color: transparent;
		border-bottom: 1px solid #000;
	}

	.tabs1 li.on a {
		border-width: 2px 1px 0;
	}

	.tabs1 li:before {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 1px;
		height: 16px;
		margin: -8px -1px;
		background: #ccc;
	}

	.tabs1 li:first-child:before {
		display: none;
	}

	.card1job1 .evenmix-1234 .column {
		width: 25%
	}

	.card1job1 .wrap1 .t4 {
		height: 74px
	}


}

/* /(min-width:1000px) */
@media all and (min-width:1260px) {

	/* xlarge ◇◆◇◆◇◆◇◆◇◆ */
	.card1duty1 .wrap1 .lst2 {
		height: 10em;
		overflow: hidden;
		overflow-y: auto;
	}

}

/* /(min-width:1260px) */
/* /RWD ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */