@font-face {
    font-family: 'claytoy';
    /*font 이름*/
    font-style: 'normal';
    /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400;
    /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('../../../public/webfont/claytoy\ L.ttf');
}

.treeFont {
    font-family: 'claytoy';
}

.treeBox {
    color: black;
    border-width: 1px;
    border-Style: solid;
    border-Color: var(--mgray);
    height:-webkit-calc(100% - 29px);
}
.TreeBorder {
    border-left: 1px solid var(--mgray);
}

TreeItem>ul{
    display: flex;
}