.gridBox,
.gridBox2,
.gridBox3 {
    font-size: 14px;
    display: grid;

    border-top: 2px solid var(--lgray);
    border-bottom: 2px solid var(--lgray);
    margin-bottom: 20px;
}

.gridBox {
    grid-template-columns: 10% 26% 12% 20% 12% 20%;
}

.gridBox2 {
    grid-template-columns: 10% 23.3% 10% 23.3% 10% 23.4%;
}

.gridBox3 {
    grid-template-columns: 10% 90%;
}

.gridBox>div,
.gridBox2>div,
.gridBox3>div {
    padding: 5px;
    border-bottom: 1px solid var(--lgray);
}

.gridBox>div,
.gridBox>div>div,
.gridBox2>div,
.gridBox2>div>div,
.gridBox3>div,
.gridBox3>div>div {
    display: flex;
    align-items: center;
}

.gridBox>div>input {
    width: 100%;
}

.gridBox2>div>input {
    width: 60%;
}

.gridBox>div:nth-child(2n+1),
.gridBox2>div:nth-child(2n+1),
.gridBox3>div:nth-child(2n+1) {
    justify-content: end;
    background-color: var(--admin);
    font-weight: bold;
}

.gridBox>div:not(:nth-child(6n+1)),
.gridBox2>div:not(:nth-child(6n+1)),
.gridBox3>div:not(:nth-child(2n+1)) {
    border-left: 1px solid var(--lgray);
}

.gridBox>div:nth-child(n+19),
.gridBox2>div:nth-child(n+13),
.gridBox3>div:nth-child(n+7) {
    border-bottom: 0px;
}

.gridBox>div>span,
.gridBox2>div>span,
.gridBox3>div>span {
    color: red;
}

.gridBox>div label,
.gridBox2>div label,
.gridBox3>div label {
    margin: 0;
    padding-left: 2px;
}

.radioBox {
    gap: 20px;
}

.gridBox3>div label {
    width: 130px;
}