.withkids {
    position: absolute;
    top: 42%;
    left: 6%;
    font-size: 70px;
    font-weight: bolder;
    color: rgb(0, 0, 125);
}

.imgBackground{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/1920_x_950_px.png');
    background-size: cover;
}

/*홈페이지 버튼*/
.homehover { 
    font-size: 30px;
    font-weight: bolder;
    background-color: aliceblue;
    border-radius: 15px;
    width: 180px;    
    display: flex;
    justify-content: center;
}
.homehover>:hover {
    font-size: 35px;
    font-weight: bolder;
    width: 190px;
}

/* 로그인 박스 */
.staffloginBox>div>div img {
    width: 400px;
}
.staffloginBox>div>div:first-of-type {
    justify-content: center;
}
.staffloginBox>div>div:first-of-type>a {
    color: #ffffff;
    font-size: 30px;
}
.staffloginBox {
    position: absolute;
    top: 28%;
    right: 5%;
    text-align: center;
}
.staffloginBox>div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.staffloginBox>div>div {
    display: flex;
    align-items: center;
}
.staffloginBox .xi-profile-o, .staffloginBox .xi-lock-o {
    position: absolute;
    padding-left: 8px;
    padding-top: 2px;
}

/*인풋*/
#staffId,#padLock {
    font-size: 20px;
    height: 55px;
    width: 400px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 50px;
    background-color: rgb(233, 233, 233);
}
/*버튼*/
.loginBtn {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.custom-btn2 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 400px;
    height: 55px;
    border-color: var(--blue);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 0 40px 40px var(--blue2) inset, 0 0 0 0 var(--blue2);
    background-color: transparent;
    transition: all 150ms ease-in-out;
    
    &:hover {
        box-shadow: 0 0 10px 0 #a8bbfa inset, 0 0 10px 4px #a8bbfa;
    }
}

/* 아이콘 크기 설정 밎 위치 선정 */
.staffloginBox i{
    color : #305891;
    text-align: center;
    justify-content: center;
}