.memberList {
    font-size: 14px;
}

.memberList_container {
    border-top: 0.3px solid var(--lgray);
    border-bottom: 0.3px solid var(--lgray);
    /* 전체 컨테이너에서 모든 추가 행을 세로로 나열 */
    display: grid;
    flex-direction: column;
    
    /* 세로 스크롤 */
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;


}

.header {
    background-color: var(--admin);
    font-weight: bold;
}

.memberList_row {
    /* 하나의 row에는 가로로 데이터 배치 */
    display: flex;
    flex-direction: row;
}

.memberList_cell {
    flex: 1;
    border-bottom: 0.3px solid var(--lgray);
    padding: 7px;
}