.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    /* background-color: var(--admin); */

}

.searchBox input{
    height: 22px;
}

.memberMainBox{
    display: flex;
}