.memList {
    font-size: 14px;
    height: 100%;
    height: calc(100% - 26px);
    /* min-height: 100vh; */
    margin-top: 5px;
}

.memList_container {
    border: 1px solid var(--lgray);

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.memList_row{
    text-align: center;
    display: grid;
    grid-template-columns:40% 25% 15% 20%;
}

.memheader {
    background-color: var(--admin);
    font-weight: bold;
    position: sticky;
    top: 0.1px;
}
.memheader>div{
    display: flex;
    justify-content:center;
    border-right: 1px solid var(--lgray);

}

.memList_cell {
    display: flex;
    justify-content:center;
    border-bottom: 1px solid var(--lgray);
    padding: 5px;
    border-right: 1px solid var(--lgray);
}

.memheader>div{
    text-align: center;
}

.memdata:nth-child(2n){
    background-color: var(--sgray);
}

.memList_row:hover:not(:first-child){
    cursor: pointer;
    background-color: var(--mgray);
}
