.memberList {
    font-size: 14px;
    height: 100%;
    height: calc(100% - 26px);
    /* min-height: 100vh; */
    margin-top: 5px;
}

.memberList_container {
    border: 1px solid var(--lgray);

    /* 전체 컨테이너에서 모든 추가 행을 세로로 나열 */
    display: grid;
    flex-direction: column;
    text-align: center;
    height: 100%;

    /* 세로 스크롤 */
    /* height: 722px; */
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.header {
    background-color: var(--admin);
    font-weight: bold;
    position: sticky;
    top: 0.1px;
}

.memberList_row {
    /* 하나의 row에는 가로로 데이터 배치 */
    display: flex;
    flex-direction: row;
}

.memberList_cell {
    flex: 1;
    border-bottom: 1px solid var(--lgray);
    padding: 7px;
}

.memberList_row:hover{
    cursor: pointer;
    background-color: var(--mgray);
}