.attachedFile,.existingFile {
    border: 1px solid var(--lgray);
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.attachedFile>div:nth-child(1),
.attachedFile>div:nth-child(2),
.attachedFile>div:nth-child(3),
.existingFile>div:nth-child(1),
.existingFile>div:nth-child(2),
.existingFile>div:nth-child(3){
    width: 100%;
}

.attachedFile>div:nth-child(1),
.attachedFile>div:nth-child(3),
.existingFile>div:nth-child(1),
.existingFile>div:nth-child(3) {
    background-color: var(--admin);
    height: 25px;
    line-height: 25px;
}
.attachedFile>div:nth-child(1),
.existingFile>div:nth-child(1){
    display: grid;
}

.attachedFile>div:nth-child(1) {
    grid-template-columns: 5% 85% 10%;
}
.existingFile>div:nth-child(1) {
    grid-template-columns: 85% 10% 5%;
}

.attachedFile>div:nth-child(1)>div,
.existingFile>div:nth-child(1)>div {
    text-align: center;
}

.attachedFile>div:nth-child(1)>div:nth-child(1),
.existingFile>div:nth-child(1)>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.attachedFile>div:nth-child(1)>div:nth-child(2),
.existingFile>div:nth-child(1)>div:nth-child(2) {
    border-left: 1px solid var(--lgray);
    border-right: 1px solid var(--lgray);
}
.attachedFile>div:nth-child(1) input{
    height: 14px;
    width: 14px;
}

.attachedFile>label,
.existingFile>label {
    display: block;
    height: calc(100% - 50px);
    overflow: auto;
    
}

.existingFile>label>div,
.attachedFile>label>div{
    display: grid;
}

.attachedFile>label>div {
    grid-template-columns: 5% 85% 10%;
}

.existingFile>label>div {
    grid-template-columns: 85% 10% 5%;
}

.attachedFile>label>div>p {
    height: 118px;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attachedFile>label>div>div,
.existingFile>label>div>div {
    height: 23.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.existingFile>label>div>div>button{
    font-size: 11px;
    font-weight: bold;
}
.attachedFile>div:nth-child(3),
.existingFile>div:nth-child(3) {
    padding: 0 5px;
    display: flex;
    justify-content: space-between
}

.attachedFile>div:nth-child(3)>div:nth-child(2),
.existingFile>div:nth-child(3)>div:nth-child(2){
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.attachedFile>div:nth-child(3)>div:nth-child(2)>button ,
.existingFile>div:nth-child(3)>div:nth-child(2)>button{
    /* height: 70%; */
    font-size: 11px;
}

.attachedFile.preview.active {
    border: 2px solid var(--blue)
}

.preview.active {
    background-color: #efeef3;
}
/* 
.deleteBtn {
    width: 20px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
} */