@charset "utf-8";




/* reset */
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {font-size:16px;line-height:1.6;font-family: 'NanumSquareRound',sans-serif;color:#666;background-color:#fff;}
html, body, div, span, iframe, p, dl,  dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img {margin:0;padding:0;border:0}
iframe {overflow:auto;width:100%;border:0}
table {width:100%;border-collapse:separate;border-spacing:0;font-size:inherit}
th, td {font-size:inherit;line-height:inherit;/*word-break:break-all;*/word-break:keep-all;}
ul, ol, li, dl{list-style:none}
img {max-width:100%;max-height:100%}
a {text-decoration:none;color:inherit}
br{font-family:initial;}
address, cite, em {font-style:normal}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:600;font-size:inherit}
strong, b {font-weight:600}
caption, legend {visibility:hidden;overflow:hidden;width:0;height:0;line-height:0;text-indent:-9999em}
input, textarea, select, optgroup, button {font-size:inherit;font-family:inherit;line-height:inherit}
input, textarea {resize:none;border:1px solid #d7dade;border-radius:0;box-sizing:border-box;background:#fff}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {height:32px;padding:0 20px;line-height:32px;border:1px solid #d7dade;box-sizing:border-box}
input[type="checkbox"], input[type="radio"] {padding:0;border:0;border-radius:0;box-sizing:border-box}
input[type="image"] {border:0 none}
input[type="text"], img, select {vertical-align:middle}
select {height:32px;padding-right:20px;padding-left: 5px;font-size:inherit;line-height:32px;border:1px solid #d7dade;border-radius:0;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url(../img/layout/arr_select.png)no-repeat center right 15px;color:#333}
select::-ms-expand {display:none}
button, input[type="button"], input[type="reset"], input[type="submit"] {overflow:visible;-webkit-appearance:button;cursor:pointer}
button {border:0;background-color:transparent}





