@charset "utf-8";

#container.sub{position: relative;margin: 0 auto;background-color: #fff;border-bottom: 1px solid #d6dae0;box-sizing: border-box;}

.top_title{padding: 84px 0 80px;background: url(http://www.yylab.kr/resources/youth/img/sub/top_title_bg.png)no-repeat top center;background-size: cover;border-bottom: 1px solid #e7eaee;}
.top_title h5{position: relative;text-align: center;font-size: 56px;line-height: 1;font-weight: 700;color: #222;opacity: 0;-webkit-animation: slide-in-top 1s ease-in-out both;animation: slide-in-top 1s ease-in-out both;}
.top_title h5:after{content: '';position: absolute;bottom: -30px;left: 50%;margin-left: -16px;width: 32px;height: 5px;background: url(http://www.yylab.kr/resources/youth/img/sub/top_title_line.png)no-repeat;}
.sub_nav{border-bottom: 1px solid #e7eaee;box-sizing: border-box;}
.sub_nav ul{font-size: 0;text-align: center;}
.sub_nav ul li{position: relative;display: inline-block;margin: 0 28px;padding: 16px 0;}
.sub_nav ul li:before{content: '';position: absolute;top: 50%;right: -31px;width: 4px;height: 4px;margin-top: -2px;background-color: #bbc2cc;border-radius: 50%;}
.sub_nav ul li:last-child:before{display: none;}
.sub_nav ul li.on:after{content: '';position: absolute;bottom: 0;left: 0;width:100%;height: 4px;background-color: #0d62e7;box-sizing: border-box;border-radius: 20px;}
.sub_nav ul li a{font-size: 19px;color: #222;}
.sub_nav ul li.on a{color: #0d62e7;font-weight: 600;}

.content{padding: 70px 0;}
.con_inner{position: relative; width: 1200px;margin: 0 auto;overflow: hidden;}

.tit_style01{font-size: 36px;line-height: 1;font-weight: 600;color: #222;text-align: center;margin-bottom: 30px;}
.tit_style02{font-size: 26px;line-height: 1;font-weight: 600;color: #222;margin: 30px 0 20px;}
.dot_list > li, .dot{padding-left: 12px;margin-bottom: 11px;background: url(http://www.yylab.kr/resources/youth/img/sub/dot.png)no-repeat left top 10px;line-height: 24px;}
.pitbg{background-color: #f5f7fa;padding: 80px 0;}
.link_ico:after{content: '';display: inline;padding: 2px 0 2px 25px;background: url(http://www.yylab.kr/resources/youth/img/sub/link_ico.png) right top 1px no-repeat;}

/* 인사말 */
.greeting_area{margin:0 30px;padding-bottom: 70px;}
.greeting_area:after{display: block;content: '';clear: both;}
.greeting_area > img{float: right;margin-left: 39px;box-shadow: 0px 15px 30px rgba(131, 149, 179, 0.3);box-sizing: border-box;}
.greeting_area span{margin-top: 20px;font-size: 18px;line-height: 28px;color: #222;word-break: keep-all;}
.greeting_area span img{margin: 10px 0 50px;}
.qtt_mark{position: relative; max-width:680px;padding: 40px 0;margin: 0 auto 70px;text-align: center;font-size: 18px;word-break: keep-all;}
.qtt_mark:before{content: '';position: absolute;top: 0;left:-103px;width: 88px;height: 65px;background: url(http://www.yylab.kr/resources/youth/img/sub/qtt_mark_l.png)no-repeat;}
.qtt_mark:after{content: '';position: absolute;bottom: 0;right:-103px;width: 88px;height: 65px;background: url(http://www.yylab.kr/resources/youth/img/sub/qtt_mark_r.png)no-repeat;}
.qtt_mark span{color:#0d62e7;}
.service_area{margin-bottom: 70px;}
.service_area ul{overflow: hidden;margin-bottom: 30px;border: 1px solid #e4e7eb;box-sizing: border-box;}
.service_area ul li{float: left;width: 33.3%;padding: 20px 0;background-color: #fff;border-left: 1px solid #e4e7eb;box-sizing: border-box;text-align: center;}
.service_area ul li:first-child{border-left: 0;}
.service_area ul li p{display: inline-block;padding-left: 50px;background-repeat: no-repeat;background-position: left center;}
.service_area ul li:nth-child(1) p{background-image: url(http://www.yylab.kr/resources/youth/img/sub/service_ico01.png);}
.service_area ul li:nth-child(2) p{background-image: url(http://www.yylab.kr/resources/youth/img/sub/service_ico02.png);}
.service_area ul li:nth-child(3) p{background-image: url(http://www.yylab.kr/resources/youth/img/sub/service_ico03.png);}
.ment{text-align: center;word-break: keep-all;}
.ment strong{position: relative; color: #0d62e7;font-size: 18px;font-weight: 600;}
/* .ment strong:after{content: '';position: absolute;bottom: -10px;left: 0;width: 100%;height: 4px;background-color: #0d62e7;border-radius: 20px;box-sizing: border-box;} */
.ment p{margin-top: 25px;font-size: 15px;}
.time_area{margin-bottom: 70px;}
.time_area ul{overflow: hidden;margin-bottom: 30px;border: 1px solid #e4e7eb;box-sizing: border-box;}
.time_area ul li{float: left;width: 50%;padding: 20px 0;background-color: #fff;border-left: 1px solid #e4e7eb;box-sizing: border-box;text-align: center;}
.time_area ul li:first-child{border-left: 0;}
.time_area ul li p{display: inline-block;padding-left: 40px;background-image: url(http://www.yylab.kr/resources/youth/img/sub/time_ico.png);background-repeat: no-repeat;background-position: left center;}
.Ex_mark{display: block;margin: 0 auto;width: 600px;padding: 6px 5px;background-color: rgba(73, 78, 102, 0.4);text-align: center;box-sizing: border-box;}
.Ex_mark p{display: inline-block;padding-left: 30px;background-image: url(http://www.yylab.kr/resources/youth/img/sub/Ex_mark.png);background-repeat: no-repeat;background-position: left center;text-align: center;font-size: 14px;color: #fff;word-break: keep-all;}
.lab_area{margin: 50px 0 30px;}
.lab_area ul{margin: 0 80px;}
.lab_area ul:after{display: block;content: '';clear: both;}
.lab_area ul li{float: left;width: 300px;margin-left: 70px;text-align: center;}
.lab_area ul li:first-child{margin-left:0;}
.lab_area ul li img{box-shadow: 0px 15px 30px rgba(131, 149, 179, 0.3);border-radius: 50%;}
.lab_area ul li strong{display: inline-block;position: relative;font-size: 20px;color:#222;margin: 30px 0 20px;}
.lab_area ul li:nth-child(1) strong span{color:#63c0ec;}
.lab_area ul li:nth-child(2) strong span{color:#79da6b;}
.lab_area ul li:nth-child(3) strong span{color:#f664ad;}
.lab_area ul li strong:after{content: '';position: absolute;bottom: -3px;left: 0;width: 100%;height: 4px;border-radius: 20px;box-sizing: border-box;}
/* .lab_area ul li:nth-child(1) strong:after{background-color: #63c0ec;} */
/* .lab_area ul li:nth-child(2) strong:after{background-color: #79da6b;} */
/* .lab_area ul li:nth-child(3) strong:after{background-color: #f664ad;} */
.lab_area ul li a{display: inline-block;padding: 11px 20px;font-weight: 600;line-height: 20px;color: #0d62e7;background-color: #fff;border: 1px solid #0d62e7;border-radius: 30px;text-align: center;vertical-align: middle;white-space: nowrap;word-break: break-all;box-sizing: border-box;}
.lab_area ul li a:hover, .lab_area ul li a:focus{box-shadow: 0px 3px 8px rgba(13, 98, 231, 0.2);transition:.3s;}
.program_area{margin: 70px 0;}
.program_area ul{overflow: hidden;margin: 0 250px;}
.program_area ul li{float: left;width: 180px;margin-left: 80px;text-align: center;}
.program_area ul li:first-child{margin-left:0;}
.program_area ul li strong{display: block;font-size: 20px;color:#222;margin-top: 15px;}
.program_area ul li p{font-size: 15px;margin-top: 5px;}
.program_notice_area{overflow: hidden;border: 1px solid #d6dae0;box-sizing: border-box;}
.program_notice_area li{float: left;width: 50%;padding: 20px 0;background-color: #fff;border-left: 1px solid #d6dae0;box-sizing: border-box;text-align: center;}
.program_notice_area li:first-child{border-left: 0;}
.program_notice_area li a{display: inline-block;font-size: 16px;}
.program_notice_area li a:hover, .program_notice_area li a:focus{color:#0d62e7;}

/* 공간소개 */
.history{overflow: hidden;margin-bottom: 70px;}
.history li{float: left;}
/* 2023 05 11 수정 */
.history li.history_txt{ width:390px; position: relative; padding-left: 90px; padding-top: 30px; box-sizing: border-box; margin-left:16px;}
.history li.history_txt .bdLine { position: absolute; display:inline-block;  width:1px; height:100%; left: 8px; top:43px; background-color:#d7dade}
/* .history li.history_txt:before { content:''; display:block; position:absolute; width:1px; height:100%; left: 8px; top:23px; border-left:1px solid #d7dade; } */
.history li dl{margin-top: 77px;}
.history li dl:nth-of-type(1){margin-top: 0;}
.history li dt{margin-bottom: 23px;color: #0d62e7;font-size: 30px;font-weight: 600;line-height: 1; position: relative;}
.history li dt:before { content:'' ; display:block; position:absolute; width:17px; height:17px; border-radius: 50%; background: #fff; border:3px solid #0d62e7; box-sizing: border-box; left:-90px; top:7px; z-index: 1;}
.history li dt:after { content:'' ; display:block; position:absolute; width:64px; height:1px; background:#d7dade; top:15px; left:-73px;}
.history li dd{margin-bottom: 31px; position:relative;}
.history li dd::before{ content:'' ; display:block; position:absolute; width:17px; height:17px; border-radius: 50%; background: #aeaeae; border:5px solid #fff; box-sizing: border-box; left:-90px; top:3px; z-index: 1;}
.history li dd:after{content:'' ; display:block; position:absolute; width:64px; height:1px; background:#d7dade; top:11px; left:-73px;}
.history li dd b{color: #222;}
.history li dd p{color: #666;}
/* 2023 05 11 /> */
.ci_box li{float: left;width: calc(50% - 20px);margin-left: 40px;}
.ci_box li:first-child{margin-left: 0;}
.ci_box li p{font-size: 20px;color: #666;font-weight: 600;}
.ci_box li p.ci_img{padding: 40px;border:1px solid #d7dade;box-sizing: border-box;text-align: center;}

/* 청년정책소개 */
.vision_area{margin-bottom: 50px;}
.vision_area > strong{position: relative;display: block;padding: 30px 0;margin-bottom: 30px;color: #222;font-size: 40px;text-align: center;}
.vision_area > strong:before{content: '';position: absolute;top: 0;left: 50%;width: 30px;height: 23px;margin-left: -15px;background: url(http://www.yylab.kr/resources/youth/img/sub/vision_mark_t.png)no-repeat;}
.vision_area > strong:after{content: '';position: absolute;bottom: 0;left: 50%;width: 30px;height: 23px;margin-left: -15px;background: url(http://www.yylab.kr/resources/youth/img/sub/vision_mark_b.png)no-repeat;}
.vision_area dl{font-size: 0;text-align: center;}
.goal{margin: 0 auto;padding: 0 0 115px;background: url(http://www.yylab.kr/resources/youth/img/sub/goal_bg.png)no-repeat center bottom;}
.goal:after{display: block;content: '';clear: both;}
.goal dt{position: relative;clear: both;padding-bottom: 140px;font-size: 30px;text-align: center;color: #222;}
.goal dt span{font-size: 40px;}
.goal dt:after{content: '';position: absolute;left: 50%;top: 75px;width: 1px;height: 40px;background: #dfe0e1;}
.goal dd{display: inline-block;width: 286px;color: #fff;text-align: center;box-sizing: border-box;}
.goal dd b{display: block;padding-bottom: 30px;font-size: 30px;}
.goal dd p{font-size: 18px;letter-spacing: -1px;}
.task{margin-top: 50px;padding-bottom: 30px;}
.task dt{position: relative;clear: both;padding-bottom: 50px;font-size: 30px;text-align: center;color: #222;}
.task dt:after{content: '';position: absolute;left: 50%;top: 60px;width: 1px;height: 40px;background: #dfe0e1;}
.task dd{display: inline-block;width: 200px;margin-left: 50px;text-align: center;}
.task dd:nth-of-type(1){margin-left: 0;}
.task dd > p{position: relative;}
.task dd strong{position: relative;display: inline-block;margin: 20px 0;font-size: 20px;color: #222;}
.task dd strong:after{content: '';position: absolute;bottom: -3px;left: 50%;width: 60px;height: 4px;margin-left: -30px;border-radius: 20px;box-sizing: border-box;}
.task dd:nth-of-type(1) strong:after{background-color: #63c0ec;}
.task dd:nth-of-type(2) strong:after{background-color: #1bb593;}
.task dd:nth-of-type(3) strong:after{background-color: #79da6b;}
.task dd:nth-of-type(4) strong:after{background-color: #f664ad;}
.task dd:nth-of-type(5) strong:after{background-color: #fc8c70;}
.task dd:nth-of-type(1) strong span{color: #63c0ec;}
.task dd:nth-of-type(2) strong span{color: #1bb593;}
.task dd:nth-of-type(3) strong span{color: #79da6b;}
.task dd:nth-of-type(4) strong span{color: #f664ad;}
.task dd:nth-of-type(5) strong span{color: #fc8c70;}
.task dd > p:after{content: '';position: absolute;top: 50%;left: -50px;width: 50px;height: 1px;background: #dfe0e1;}
.task dd:nth-of-type(1) > p:after{display: none;}
.task dd ul li p{display: inline-block;/* padding-left: 12px;margin-bottom: 11px;background: url(http://www.yylab.kr/resources/youth/img/sub/dot2.png)no-repeat left top 10px; */line-height: 28px;font-size: 14px;text-align: center;letter-spacing: -1px;}
.link_area{overflow: hidden;}
.link_area li{float: left;width: 33.3%;border-right: 1px solid #e4e7eb;border-bottom: 1px solid #e4e7eb;box-sizing: border-box;background-color: #fff;text-align: center;}
.link_area li:nth-child(1), .link_area li:nth-child(2), .link_area li:nth-child(3){border-top: 1px solid #e4e7eb;}
.link_area li:nth-child(3n+1){border-left: 1px solid #e4e7eb;}
.link_area li a{line-height: 67px;display: block;padding: 15px 10px;}
.call_area{margin-top: 50px;}
.call_area strong{display: block;font-size: 26px;font-weight: 600;color: #222;text-align: center;}
.call_area ul{overflow: hidden;margin-top: 20px;border: 1px solid #e4e7eb;background-color: #fff;}
.call_area ul li{float: left;width: 33.3%;padding: 20px 15px 5px 30px;background-color: #fff;border-left: 1px solid #e4e7eb;box-sizing: border-box;}
.call_area ul li:first-child{border-left: 0;}

/* 청년정책 - 청년잇다, 청년날다, 청년살다 */
.policy_tit_style01{max-width:105px;display:block;margin: 0 auto;padding:5px 15px;background-color: #0d62e7;border-radius: 20px;box-sizing: border-box; color:#fff;font-size: 18px;font-weight: bolder;text-align: center;}
.policy_tit_style02{font-size: 40px;line-height: 1;font-weight: 600;color: #222;text-align: center;margin: 20px 0 30px;}
.policy{position: relative;padding: 100px 0 40px;margin-top: -50px;}
.policy:after{display: block;content: '';clear: both;}
.policy_img{float: left;margin-top: -90px;}
.policy ul{}
.policy li{float: left;margin-bottom: 10px;margin-left: 10px;background-color: #f2f4f7;border-radius:5px;}
.policy li:nth-child(n+5):nth-child(3n+2){margin-left: 0;}
.policy li:nth-child(1), .policy li:nth-child(3){margin-left: 10px;}
.policy li a{position: relative;display: table-cell;width:380px;height: 100px;padding: 0 20px;box-sizing: border-box;vertical-align: middle;font-size: 22px;line-height: 26px;color: #222;font-weight: 600;word-break: keep-all;}
.policy li a:before{content: '';position: absolute;top: 10px;right:10px;width:12px;height:12px;background: url(http://www.yylab.kr/resources/youth/img/sub/policy_more.png)no-repeat;}
.policy li a:hover, .policy li a:focus{box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.1);transition:.3s;}
.policy li a p{text-align: center;}
.policy li:nth-child(-n+9):nth-child(9n+1){background-color: #e6f7ff;}
.policy li:nth-child(-n+9):nth-child(9n+2){background-color: #f2f4f7;}
.policy li:nth-child(-n+9):nth-child(9n+3){background-color: #f2f4f7;}
.policy li:nth-child(-n+9):nth-child(9n+4){background-color: #fff7d6;}
.policy li:nth-child(-n+9):nth-child(9n+5){background-color: #f2f4f7;}
.policy li:nth-child(-n+9):nth-child(9n+6){background-color: #ffe9f4;}
.policy li:nth-child(-n+9):nth-child(9n+7){background-color: #f2f4f7;}
.policy li:nth-child(-n+9):nth-child(9n+8){background-color: #e0fadc;}
.policy li:nth-child(-n+9):nth-child(9n+9){background-color: #f2f4f7;}
.policy li:nth-child(10){background-color: #e6f7ff !important;}
.policy li:nth-child(8n+1){background-color: #f2f4f7;}
.policy li:nth-child(8n+2){background-color: #e6f7ff;}
.policy li:nth-child(8n+3){background-color: #f2f4f7;}
.policy li:nth-child(8n+4){background-color: #fff7d6;}
.policy li:nth-child(8n+5){background-color: #f2f4f7;}
.policy li:nth-child(8n+6){background-color: #ffe9f4;}
.policy li:nth-child(8n+7){background-color: #f2f4f7;}
.policy li:nth-child(8n+8){background-color: #e0fadc;}
.policy_popup{display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;padding: 0 20px;background-color: rgba(0, 0, 0, .5);overflow-y: scroll;-webkit-overflow-scrolling: touch;z-index: 3000;}
.policy_popup_inner{position: relative;width: 640px;max-width: 100%;/*margin: 100px auto;*/border-radius: 6px;background-color: #fff;box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);overflow: hidden;}/* 20200828 */
.policy_title{padding: 11px 25px;background-color: #212430; color: #fff;font-size: 20px;font-weight: 600; line-height: 30px;}
.policy_body{max-height: 500px;padding: 20px 25px;overflow-y: auto;font-size: 15px;word-break: keep-all;}
.policy_body li{margin-bottom: 0;}
.policy_body > li{margin: 0 0 8px !important;}
.policy_body > li.policy_tel{background-color: #f5f7fa;border-top: 1px solid #d7dade;border-bottom: 1px solid #d7dade;padding: 10px 0;text-align: center;}
.policy_body > li.policy_tel span{position: relative;margin-left: 20px;padding-left: 20px;}
.policy_body > li.policy_tel span:before{content: '';position: absolute;top: 1px;left: 0;width: 2px;height: 15px;background-color: #bbc2cc;}
.policy_body > li b{font-size: 16px;color:#333;}
.policy_body > li p{margin-bottom: 0;}
.policy_popup_close{position: absolute;right: 25px;top: 18px;width: 13px;height: 13px;display: block;background: url(http://www.yylab.kr/resources/youth/img/sub/policy_popup_close.png)no-repeat;text-indent: -9999px;overflow: hidden;}

/* 공간안내 */
.space_type{padding: 40px 0 30px;}
.space_type div{overflow: hidden;width: 600px;margin: 0 auto;border: 2px solid #0d62e7;border-radius: 10px;box-sizing: border-box;box-shadow: 0 6px 9px rgba(13, 98, 231, 0.1);background-color: #fff;}
.space_type a{float: left;width: 50%;padding: 10px 0;text-align: center;font-size: 19px;font-weight: 600;color: #5d8aec;}
.space_type a.on{background-color: #0d62e7;color: #fff;}
/* 20200824 start */
.space_list{padding: 25px 0 30px;margin-top: 30px;border-top: 1px solid #d7dade;}
.space_list:after{display: block;content: '';clear: both;}
.space_list li{float: left;width: 25%;border-right: 1px solid #d7dade;border-bottom: 1px solid #d7dade; box-sizing: border-box;background-color: #fff;text-align: center;}
.space_list li:nth-child(1), .space_list li:nth-child(2), .space_list li:nth-child(3), .space_list li:nth-child(4){border-top: 1px solid #d7dade;}
.space_list li:nth-child(4n+1){border-left: 1px solid #d7dade;}
.space_list li:only-child {width: 100%;}
.space_list li:nth-last-child(2), .space_list li:nth-last-child(2)+li{width:50%;}
.space_list li:nth-last-child(3), .space_list li:nth-last-child(3)~li{width:33.3%;}
.space_list li:nth-last-child(4), .space_list li:nth-last-child(4)~li{width:25%;}
.space_list li.on{position: relative;box-shadow: 0 2px 5px rgba(13, 98, 231, 0.2);color:#0d62e7;font-weight: 600;}
.space_list li a{display: table-cell;width: 1400px;height: 48px;padding: 0 10px;font-size: 16px;line-height: 20px;vertical-align: middle;}
.space_list li.on:before{content: '';position: absolute;top:0;left: 0; width:calc(100% - 2px);height: calc(100% - 2px);border: 2px solid #0d62e7;margin-left: -1px;}
/* 20200824 end */
.space_detail_area{margin: 60px 0 80px;}
.detail_top{position: relative;margin-bottom: 20px;}
.detail_top h5{font-size: 36px;color: #222;text-align: center;}
.detail_top a{position: absolute;top: 7px;right: 0;display: inline-block;padding: 11px 20px;background-color: #fff;border: 1px solid #0d62e7;border-radius: 30px;box-sizing: border-box;font-weight: 600;line-height: 20px;color: #0d62e7;text-align: center;vertical-align: middle;white-space: nowrap;word-break: break-all;}
.detail_top a:hover, .detail_top a:focus{box-shadow: 0px 3px 8px rgba(13, 98, 231, 0.2);transition:.3s;}
.space_detail{background-color: #f5f7fa;border-top: 2px solid #494e66;}
.detail_img{width: 100%;text-align: center;}
.detail_img img{width: 100%;}
.detail_info{padding: 30px 30px 50px;text-align: center;}
.detail_info strong{position: relative;display: inline-block;margin-bottom: 30px;font-size: 18px;color: #222;word-break: keep-all;}
.detail_info strong:after{content: '';position: absolute;bottom: -10px;left: 0;width: 100%;height: 4px;background-color: #0d62e7;border-radius: 20px;box-sizing: border-box;}
.detail_info > p{margin-bottom: 30px;font-size: 15px;word-break: keep-all;}
.detail_info ul{font-size: 0;}
/* 20200826 start */
.detail_info ul li{display: inline-block;width: 564px;margin-left: 12px;margin-bottom: 12px;background-color: #fff;border-radius: 3px;box-shadow: 0 10px 20px rgb(0, 0, 0, 0.05);padding: 10px;box-sizing: border-box;vertical-align: top;}
.detail_info ul li:nth-child(2n+1){margin-left: 0;}
.detail_info ul li p{display: inline-block;padding: 0;padding-left: 30px;background-repeat: no-repeat;background-position: left center;text-align: center;font-size: 16px;word-break: keep-all;}
/* 20200826 end */
.detail_info ul li.detail_ico01 p{background-image: url(http://www.yylab.kr/resources/youth/img/sub/detail_ico01.png);}
.detail_info ul li.detail_ico02 p{background-image: url(http://www.yylab.kr/resources/youth/img/sub/detail_ico02.png);}

/* 이용안내 */
.space_type2{padding-bottom: 60px;}
.caution_area{position: relative;width: 1200px;margin: 0 auto;margin-top: -30px;}
.caution_area dt{position: relative;overflow: hidden;width: 100%;padding: 15px 30px 15px 60px;background: #fff url(http://www.yylab.kr/resources/youth/img/sub/cau_mark.png)no-repeat center left 30px;border: 1px solid #d7dade;border-radius: 5px;box-sizing: border-box;color: #666;}
.caution_area dt .caution_tit{padding: 0;font-size: 20px;color: #222;font-weight: bold;}
.caution_area dd{border: 1px solid #d7dade;border-top: 0;border-radius: 0 0 5px 5px;box-sizing: border-box;}
.caution_area dd .caution_answer{padding: 20px 30px;line-height: 26px;font-size: 15px;}
.caution_area .btn_down, .caution_area .btn_up{position: absolute;right: 30px;top: 27px;width: 20px;height: 11px;background: url(http://www.yylab.kr/resources/youth/img/sub/arr_ico.png) no-repeat center center;text-indent: -9999px;-webkit-transition: all 0.3s;transition: all 0.3s;}
.caution_area dt.on{border-radius: 5px 5px 0 0;}
.caution_area dt.on .btn_up {transform: rotate(180deg);}
.caution_area dt.on .btn_down {display: none;}
.map_area{margin-bottom: 80px;}
.map_box{margin-top: 30px;border-top: 2px solid #494e66;}
.travel{margin-top: 30px;margin-bottom: 5px;padding-left: 50px;font-weight: 600;font-size: 26px;color: #222;background-repeat: no-repeat;background-position: left center;}
.travel.travel_car{background-image: url(http://www.yylab.kr/resources/youth/img/sub/car.png);}
.travel.travel_subway{background-image: url(http://www.yylab.kr/resources/youth/img/sub/subway.png);background-position: left 9px center;}
.travel.travel_bus{background-image: url(http://www.yylab.kr/resources/youth/img/sub/bus.png);background-position: left 5px center;}
.Line{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;border-radius: 20px;font-weight: 600;font-size: 14px;vertical-align: middle;color: #fff;}
.Line.Line01{background: #77c371;}
.Line.Line02{background: #f6cb1d;}
.bus_area{display: table;width: 100%;table-layout: fixed;}
.bus_area li{display: table-cell;width: 33.3%;padding: 20px 30px;background-color: #fff;border-right: 1px solid #e4e7eb;border-bottom: 1px solid #e4e7eb;box-sizing: border-box;text-align: left;}
.bus_area:first-of-type li:nth-child(1), .bus_area:first-of-type li:nth-child(2), .bus_area:first-of-type li:nth-child(3){border-top: 1px solid #e4e7eb;}
.bus_area li:nth-child(3n+1){border-left: 1px solid #e4e7eb;}
.bus_area li p{font-weight: 600;}
.bus_area li p.bus{margin-top: 10px;}
.bus_area li p.bus b{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin-right: 5px;border-radius: 20px;font-weight: 600;font-size: 14px;vertical-align: top;color: #fff;}
.bus_area li p.bus b.bus_clr01{background-color: #3cc344;}
.bus_area li p.bus b.bus_clr02{background-color:#e94e53;}
.bus_area li p.bus b.bus_clr03{background-color:#f0602f;}
.bus_area li p.bus b.bus_clr04{background-color:#386de8;}
.bus_area li p.bus span{width: calc(100% - 55px);display: inline-block;font-weight: 400;}

/* 20210621 start */
.provision_box{padding: 10px 50px 60px;border: 1px solid #e4e7eb;box-sizing: border-box;}
.pro_v_s_tit01{font-size: 24px;font-weight: 600;color: #222;margin: 50px 0 30px;}
.pro_v_s_tit02{font-size: 20px;font-weight: 600;color: #222;margin: 30px 0 10px;}
.pro_v_s_tit03{font-size: 18px;font-weight: 600;color: #222;margin: 20px 0 10px;}

.table_basic {border-top: 1px solid #e4e7eb;border-bottom: 1px solid #e4e7eb;font-size: 16px;}
.table_basic th, .table_basic td {padding: 15px 10px;border-top: 1px solid #e4e7eb;border-left: 1px solid #e4e7eb;color: #666;text-align: center;}
.table_basic thead th {background-color: #f8f9fb;color: #222;}
.table_basic tbody th {background-color: #fff;color: #222;}
.table_basic thead tr:first-child > * {border-top: 0;}
.table_basic colgroup + tbody > tr:first-child > * {border-top: 0;}
.table_basic th:first-child, .table_basic td:first-child {border-left: 0;}
/* 20210621 end */


@media screen and (max-width: 1220px){

    .top_title h5{font-size: 36px;}
    .sub_nav ul li{padding: 10px 0;}
    .sub_nav ul li a{font-size: 17px;}

    .content{padding: 40px 0;}
    .con_inner{width: 96%;}

    .tit_style01{font-size: 30px;}
    .tit_style02{font-size: 22px;}
    .dot_list > li{margin-bottom: 5px;background-position: left top 9px;font-size: 14px;}
    .pitbg{padding:50px 0;}
    .link_ico:after{background-size: 15px auto;padding-left: 20px;}

    /* 인사말 */
    .greeting_area > img{width:40%;}
    .greeting_area span{font-size: 16px;line-height: 22px;}
    .qtt_mark{max-width: initial;width: calc(100% - 300px);font-size: 16px;}
    .service_area ul li{padding: 10px 0;}
    .service_area ul li p{padding: 28px 0 0 0;background-position: top center;font-size: 14px;}
    .ment strong{font-size: 16px;}
    .ment p{margin-top: 15px;font-size: 14px;}
    .time_area ul li{padding: 10px 0;}
    .time_area ul li p{padding: 10px 0 10px 30px;font-size: 14px;}
    .lab_area ul{margin: 0 auto;}
    .lab_area ul li{width: calc(33.3% - 15px);margin-left: 20px;}
    .lab_area ul li strong{font-size: 16px;}
    .lab_area ul li a{font-size: 14px;}
    .program_area ul{margin: 0 auto;}
    .program_area ul li{width: calc(33.3% - 15px);margin-left: 20px;}
    .program_area ul li strong{font-size: 16px;}
    .program_area ul li p{margin-top: 0;}
    .program_notice_area li a{font-size: 14px;}

    /* 공간소개 */
    .history li{float: none;text-align: center;}
    .history li.history_txt{margin-left: 50px; width:100%;}
    .history li dl{text-align: left;}
    .ci_box li{width: calc(50% - 10px);margin-left: 20px;}
    .ci_box li p.ci_img{padding: 20px 10px;}

    /* 청년정책소개 */
    .goal{background: none;padding: 0 0 60px;}
    .goal dt{padding-bottom: 40px;}
    .goal dt:after{top: auto;bottom: 0;}
    .goal dd{width: 230px;height: 230px;margin-left: 20px;border-radius: 50%;box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);}
    .goal dd:nth-of-type(1){background: linear-gradient(90deg, #3cbfa4, #94ea8d);margin-left: 0;}
    .goal dd:nth-of-type(2){background: linear-gradient(90deg, #f07ab4, #ff9d83);}
    .goal dd:nth-of-type(3){background: linear-gradient(90deg, #63c1ec, #69e0d8);}
    .goal dd b{padding: 50px 0 20px;font-size: 24px;}
    .goal dd p{font-size: 16px;}
    .task dd{width: calc(33.3% - 15px);margin-left: 20px;margin-bottom: 20px;}
    .task dd strong{font-size: 16px;}
    .task dd ul li p{/* margin-bottom: 5px; */font-size: 14px;line-height: 18px;background-position: left top 6px;}
    .task dd > p:after{display: none;}
    .call_area ul li{font-size: 14px;}

    /* 청년정책 - 청년잇다, 청년날다, 청년살다 */
    .policy_tit_style01{font-size: 16px;}
    .policy_tit_style02{font-size: 32px;}
    .policy_img{width: calc(33.3% - 8px);margin-top: -75px;}
    .policy li{width: calc(33.3% - 8px);margin-left: 12px;margin-bottom: 12px;}
    .policy li:nth-child(1), .policy li:nth-child(3){margin-left:12px;}
    .policy li a{font-size: 18px;}
    .policy_body{font-size: 14px;}
    .policy_body > li b{font-size: 14px;}

    /* 공간안내 */
    .space_type a{padding: 8px 0;font-size: 17px;}
    .space_list li a{height: 40px;font-size: 14px;}
    .detail_top h5{font-size: 28px;}
    .detail_top a{top: 0;font-size: 14px;}
    .detail_info strong{margin-bottom: 20px;border-bottom: 2px solid #0d62e7;font-size: 16px;}
    .detail_info strong:after{display: none;}
    .detail_info > p{margin-bottom: 20px;font-size: 14px;}
    .detail_info ul li{width: calc(50% - 6px);}
    .detail_info ul li p{font-size: 14px;}

    /* 이용안내 */
    .caution_area{width:96%;}
    .bus_area li p{font-size: 14px;}


}

@media screen and (max-width: 767px){

    .top_title{padding: 30px 0;}
    .top_title h5{font-size: 22px;}
    .top_title h5:after{bottom: -10px;height: 2px;}
    .sub_nav ul li{margin: 0 15px;}
    .sub_nav ul li:before{right: -15px;}
    .sub_nav ul li.on:after{height: 2px;}
    .sub_nav ul li a{font-size: 13px;}

    .tit_style01{margin-bottom: 15px;font-size: 20px;line-height: 28px;}
    .tit_style02{margin: 20px 0 10px;font-size: 16px;}
    .dot_list > li{padding-left: 9px;background-position: left top 6px;font-size: 12px;line-height: 18px;}

    /* 인사말 */
    .greeting_area{margin:0 auto;padding-bottom:40px;}
    .greeting_area > img{float: none;width: 100%;margin-left:0;box-shadow: 0px 5px 5px rgba(131, 149, 179, 0.3);}
    .greeting_area span{display: block;font-size: 13px;line-height: 19px;}
    .greeting_area span img{max-width: 200px;margin: 0 0 10px;}
    .qtt_mark{width: 100%;padding: 10px 0;margin: 0 auto 40px;font-size: 13px;z-index: 1;}
    .qtt_mark:before{left: 0;top: -20px;z-index: -1;}
    .qtt_mark:after{right: 0;bottom: -20px;z-index: -1;}
    .service_area{margin-bottom: 40px;}
    .service_area ul li{width:100%;border-left: 0;border-top: 1px solid #e4e7eb;}
    .service_area ul li:first-child{border-top:0;}
    .service_area ul li p{padding: 5px 0 5px 40px;background-position: left center;font-size: 13px;}
/*     .ment strong{font-size: 13px;border-bottom: 2px solid #0d62e7;} */
	.ment strong{font-size: 13px;}
    .ment strong:after{display: none;}
    .ment p{font-size: 12px;}
    .time_area ul li{width:100%;border-left:0;padding: 3px 0;}
    .time_area ul li:first-child{border-bottom: 1px solid #e4e7eb;}
    .time_area ul li p{font-size: 12px;}
    .Ex_mark{width:100%;}
    .Ex_mark p{padding-left:0;padding-top: 30px;background-position: top center;font-size: 12px;}
    .lab_area{margin: 40px 0 20px;}
    .lab_area ul li{width:100%;margin-left:0;margin-bottom: 15px;}
    .lab_area ul li img{width:100px;float: left;margin-right: 20px;}
    .lab_area ul li strong{float: none;margin: 15px 0;font-size: 14px;}
    .lab_area ul li strong:after{height:2px;}
    .lab_area ul li a{float: none;width: calc(100% - 120px);padding: 5px 10px;font-size: 12px;}
    .program_area{margin: 20px auto 40px;}
    .program_area ul li{width: calc(33.3% - 6px);margin-left: 9px;}
    .program_area ul li strong{font-size: 13px;}
    .program_area ul li p{font-size: 12px;}
    .program_notice_area li{width:100%;padding: 10px 0;border-left: 0;}
    .program_notice_area li:first-child{border-bottom: 1px solid #d6dae0;}
    .program_notice_area li a{font-size: 12px;}

    /* 공간소개 */
    /* 2023 05 11 수정 */
    .history{margin-bottom: 40px;}
    .history li.history_txt{ margin-left:10px; padding-left:60px;}
    /* .history li.history_txt:before{width:45px;} */
    .history li dl{}
    .history li dt{font-size: 24px;}
    .history li dd{}
    .history li dd b, .history li dd p{font-size: 13px; word-break:keep-all}
    .history li dt:before  { left:-60px; top:3px}
    .history li dd::before { left:-60px; top:2px}
    .history li dt:after { width:30px; left:-43px; top:11px}
    .history li dd:after { width:30px; left:-43px; top:10px}
    /* 2023 05 11 /> */
    .ci_box li{width:100%;margin-left: 0;}
    .ci_box li:first-child{margin-bottom: 10px;}
    .ci_box li p{font-size: 15px;}

    /* 청년정책소개 */
    .vision_area > strong{font-size: 22px;}
    .goal{padding: 0;}
    .goal dt{font-size: 16px;padding-bottom:20px;}
    .goal dt:after{height: 20px;}
    .goal dt span{font-size: 22px;}
    .goal dd{width: calc(33.3% - 6px);height: 100px;padding: 10px;margin-left: 9px;border-radius: 10px;}
    .goal dd br{display: none;}
    .goal dd b{padding: 10px 0 0;font-size: 16px;}
    .goal dd p{font-size: 12px;}
    .task{padding-bottom: 0;}
    .task dt{font-size: 16px;padding-bottom:20px;}
    .task dt:after{top: auto;bottom: 0;height: 20px;}
    .task dd{width:100%;margin-left: 0;margin-bottom: 10px;text-align: left;}
    .task dd > p{float:left;width:100px;margin-right: 15px;}
    .task dd strong{float:left;font-size: 14px;margin: 15px 0 10px;}
    .task dd strong:after{left: 0;width: 100%;height: 2px;margin-left: 0;}
    .task dd ul{float:left;width: calc(100% - 115px);}/* 20200828 */
    .task dd ul li p{font-size: 12px;line-height: 18px;}
    .link_area li a{line-height: 60px;}/* 20200826 */
    .call_area{margin-top: 20px;}
    .call_area strong{font-size: 18px;}
    .call_area ul{margin-top: 10px;}
    .call_area ul li{width: 100%;padding: 10px 10px 0;border-left: 0;border-bottom: 1px solid #e4e7eb; font-size: 13px;}
    .call_area ul li:last-child{border-bottom: 0;}

    /* 청년정책 - 청년잇다, 청년날다, 청년살다 */
    .policy_tit_style01{max-width: 85px;padding: 5px 5px;font-size: 12px;}
    .policy_tit_style02{font-size: 20px;margin: 15px 0 10px;}
    .policy{padding: 20px 0 0;margin-top: 0;}
    .policy_img{float: none;width: 100%;max-width: 200px;margin: 0 auto 20px;}
    .policy li{width: calc(50% - 5px);margin-left: 10px;margin-bottom: 10px;}
    .policy li:nth-child(n+5):nth-child(3n+2){margin-left:0;}
    .policy li:nth-child(2n+1){margin-left: 0;}
    .policy li:nth-child(2n+2){margin-left: 10px !important;}
    .policy li a{height: 80px;font-size: 13px;line-height: 18px;}
    .policy li a:hover, .policy li a:focus{box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);}
    .policy li:nth-child(8n+1){background-color: #e6f7ff !important;}
    .policy li:nth-child(8n+2){background-color: #f2f4f7 !important;}
    .policy li:nth-child(8n+3){background-color: #f2f4f7 !important;}
    .policy li:nth-child(8n+4){background-color: #fff7d6 !important;}
    .policy li:nth-child(8n+5){background-color: #ffe9f4 !important;}
    .policy li:nth-child(8n+6){background-color: #f2f4f7 !important;}
    .policy li:nth-child(8n+7){background-color: #f2f4f7 !important;}
    .policy li:nth-child(8n+8){background-color: #e0fadc !important;}
    .policy_popup_inner{margin: 20px auto;}
    .policy_title{padding: 10px 15px;font-size: 16px;}
    .policy_body{padding: 10px 15px;font-size: 12px;}
    .policy_body li{margin-bottom: 0;}
    .policy_body > li b{font-size: 13px;}
    .policy_body > li p{line-height: 20px;background-position: left top 6px;}/* 20200826 */
    .policy_body > li.policy_tel{padding:5px 0;}
    .policy_body > li.policy_tel span{margin-left: 10px;padding-left: 10px;}
    .policy_body > li.policy_tel span:before{top:0;width: 1px;height: 12px;}
    .policy_popup_close{right:15px;}

    /* 공간안내 */
    .space_type{padding: 20px 0;}
    .space_type div{width:100%;border-radius: 5px;}
    .space_type a{padding: 5px 0;font-size: 14px;}
    .space_list{padding: 15px 0 20px;margin-top: 15px;}
    .space_list li{width: 50%;}
    .space_list li a{height:40px;font-size: 12px;}
    .space_list li:nth-child(3), .space_list li:nth-child(4){border-top: 0;}
    .space_list li:nth-child(2n+1){border-left: 1px solid #d7dade;}
    /* 20200824 start */
    .space_list li:nth-last-child(3), .space_list li:nth-last-child(3)~li{width:50%;}
    .space_list li:nth-last-child(4), .space_list li:nth-last-child(4)~li{width:50%;}
    .space_detail_area{margin:20px 0;}
    .detail_top{margin-bottom:5px;}
    .detail_top h5{padding-bottom: 0;font-size: 16px;}
    .detail_top a{position: relative;width: 100%;padding: 5px 10px;margin:5px 0;font-size: 12px;}
    /* 20200824 end */
    .detail_info{padding:10px;}
    .detail_info strong{display: inline;font-size: 14px;}
    .detail_info > p{margin-top: 10px;font-size: 12px;}
    /* 20200826 start */
    .detail_info ul li{width:100%;margin-left:0;text-align: left;}
    .detail_info ul li p{font-size: 12px;padding-left: 23px;background-size: auto 16px;background-position: left top 1px;text-align: left;}
    /* 20200826 end */
    .detail_info ul li:nth-child(2n+1){margin-top: 12px;}

    /* 이용안내 */
    .caution_area{margin-top:20px;}
    .caution_area dt{padding: 10px 20px 10px 45px;background-position: center left 15px;}
    .caution_area .btn_down, .caution_area .btn_up{right: 15px;top: 15px;background-size: 12px auto;}
    .caution_area dt .caution_tit{font-size: 14px;}
    .caution_area dd .caution_answer{padding: 15px;line-height: 20px;font-size: 12px;}
    .map_area{margin-bottom: 50px;}
    .map_box{margin-top:10px;}
    .travel{padding-left: 28px;margin-top: 15px;font-size: 15px;background-position: left center !important;background-size: 20px auto;}
    .travel.travel_subway{background-position: left 2px center !important;background-size: 17px auto;}
    .Line{font-size: 12px;}
    .bus_area{border: 1px solid #e4e7eb;border-bottom: 0;box-sizing: border-box;}
    .bus_area li{display: block;width: 100%;padding: 10px;border:0 !important;border-bottom: 1px solid #e4e7eb !important;}
    .bus_area li:last-child{border-bottom:0 !important;}
    .bus_area:last-child li:last-child{border-bottom:1px solid #e4e7eb!important;}
    .bus_area li p{font-size: 14px;}
    .bus_area li p.bus{margin-top: 5px;}
    .bus_area li p.bus b{font-size: 12px;}

    /* 20210621 start */
    .provision_box{padding: 10px 15px 30px;}
    .pro_v_s_tit01{font-size: 16px;margin: 20px 0 5px;}
    .pro_v_s_tit02{font-size: 14px;margin: 5px 0;}
    .pro_v_s_tit03{font-size: 14px;margin: 5px 0;}

    .table_basic {font-size: 12px;}
    .table_basic th, .table_basic td{padding: 5px;}
    /* 20210621 end */

}
/* 2023 05 11 수정*/
@media (max-width:425px) {

}
/* 2023 05 11 /> */
@media screen and (max-width: 320px){

    .sub_nav ul li{margin:0 7px;}
    .sub_nav ul li:before{width:2px;height:2px;right:-7px;}
    .sub_nav ul li a{font-size: 12px;}

    .program_area ul li strong{font-size: 12px;}
    .program_area ul li p{font-size: 11px;}

    .policy_body > li b{font-size: 12px;}

}

@-webkit-keyframes slide-in-top {
    0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;}
    100% {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}
}
@keyframes slide-in-top {
    0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;}
    100% {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}
}