

/* 아이콘 크기 설정 밎 위치 선정 */
.userloginBox i{
    color : #305891;
    text-align: center;
    justify-content: center;
}

/* 로그인 박스 */
.userloginBox {
    position: absolute;
    top: 28%;
    right: 5%;
    text-align: center;
}
.userloginBox>div{
    display : flex;
    flex-direction: column;
    gap: 30px;
}
.userloginBox>div>div {
    display: flex;
    align-items: center;
}
.userloginBox>div>div img {
    width: 400px;
}
.userloginBox>div>div:first-of-type {
    justify-content: center;
}
.userloginBox>div>div:first-of-type>a {
    color: #ffffff;
    font-size: 30px;
}
.userloginBox .xi-profile-o, .userloginBox .xi-lock-o {
    position: absolute;
    padding-left: 8px;
    padding-top: 2px;
}

/* 인풋*/
#faceSereial, #facePW {
    height: 55px;
    width: 400px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 50px;
    background-color: rgb(233, 233, 233);
}

/* 버튼*/
.userloginBtn {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.usercustom-btn2 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 400px;
    height: 45px;
    border-color: rgb(241, 234, 41);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 0 40px 40px rgb(253, 217, 13) inset, 0 0 0 0 rgb(136, 120, 32);
    background-color: transparent;
    transition: all 150ms ease-in-out;
    
    &:hover {
        box-shadow: 0 0 10px 0 rgb(239, 236, 154) inset, 0 0 10px 4px rgb(239, 236, 154);
    }
}