.userMyInfoContent>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-size: 18px;
}

.userMyInfoContent>div:nth-child(1)>div:nth-child(2) {
    border: 3px solid var(--lgray);
    border-radius: 3px;
}

.userMyInfoContent>div:nth-child(1)>div:not(:nth-child(2)) {
    cursor: pointer;
}

.userMyInfoCk {
    color: var(--spring);
    font-weight: bold;
    font-size: 19px;
}

.userMemberBox {
    display: flex;
    margin-top: 50px;
    gap: 10px;
}

/* .userMemberImg {
    
    border-radius: 50px;
} */

.userMemberImg>img {
    width: 400px;
    height: 600px;
    border-radius: 50px;
    border: 1px solid var(--lgray);
}

.userMemberInfo {
    width: 800px;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    font-size: 20px;
    border: 1px solid var(--lgray);
}

.userMemberInfo>div {
    /* height: 50px; */
    display: flex;
    align-items: center;
    /* border: 1px solid var(--lgray); */
}

.userMemberInfo>div:nth-child(4)> {
    justify-content: center;
}

.userMemberInfo>div:nth-child(2n+1) {
    background-color: #FFD4CB;
    font-weight: bold;
    justify-content: center;
}

.userMemberInfo>div:nth-child(2n+6) {
    grid-column: span 3;
}

.userMemberInfo>div:nth-child(2n) {
    background-color: #FFFCFB;
    padding-left: 20px;
    border-left: 1px solid var(--lgray);
}

.userMemberInfo>div:nth-child(n+3) {
    border-top: 1px solid var(--lgray);
}

.userMemberMg {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    color: gray;
}

.userProgramBox {
    margin: 50px 0;
}

.userProgramBox>div {
    display: grid;
    grid-template-columns: 35% 20% 10% 15% 10% 10%;
}

.userProgramBox>div:nth-child(1) {
    border: 1px solid var(--lgray);
    background-color: #FFD4CB;
    font-weight: bold;
}

.userProgramBox>div:nth-child(n+2) {
    border-bottom: 1px solid var(--lgray);
    border-left: 1px solid var(--lgray);
    border-right: 1px solid var(--lgray);
    /* background-color: white; */
}

.userProgramBox>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
}

.userMyInfoModalHeader {
    font-size: 20px;
    text-align: center;
    background-color: var(--spring);
    color: white;
    /* background-color: #FFD4CB;
    color: black; */
    height: 40px;
    line-height: 40px;
}

.userMyInfoModalHeader>svg {
    position: absolute;
    /* top: 3px; */
    right: 0px;
}

.userMyInfoModalMain {
    padding: 50px;
}

.userMyInfoModalMain>div {
    height: 50px;
    text-align: center;
}

.userMyInfoModalMain label {
    font-weight: bold;
    font-size: 17px;
}

.userMyInfoModalMain input {
    width: 200px;
}

.userMyInfoModalMain p {
    /* font-weight: bold; */
    color: red;
}

.userMyInfoModalButton {
    font-weight: bold;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    background-color: var(--spring);
    color: white;
    /* background-color: #FFD4CB;
    color: black; */
    border: 1px solid white;
}

.userMyInfoModalButton:hover {
    background-color: white;
    color: var(--spring);
    border: 1px solid var(--spring);
}